[2020-05-05 12:14] Ahzam-Lathiya opened #1197 "Can someone help me how can I implement 3rd party API calls in custom defined actions?"

[2020-05-05 12:15] Ahzam-Lathiya opened #1198 "Can someone help me how can I implement 3rd party API calls in custom defined actions? Like get weather details or location with google API."

[2020-05-05 12:15] #1197 closed

[2020-05-06 07:44] IgnatovFedor commented on #1198
Hi, @Ahzam-Lathiya
Do you mean the integration of 3rd party API calls to DeepPavlov pipeline?

[2020-05-06 09:20] #1176 closed

[2020-05-06 09:37] #1118 closed

[2020-05-06 09:40] yoptar commented on #1195
Hi @atsanda,
Thank you for bringing this up.
We will discuss this internally, but I'm not sure if we want to add this option to the reader, as it would add more clutter to the code and there are simple enough workarounds.
You can rename your `test.csv` to `_test.csv` or `test_no_labels.csv` as it would reflect why the model should not be evaluated on that data.

[2020-05-06 09:41] #1117 closed

[2020-05-06 10:18] #1104 closed

[2020-05-06 10:18] #1085 closed

[2020-05-06 10:20] #1081 closed

[2020-05-06 10:22] #1079 closed

[2020-05-06 10:22] #1074 closed

[2020-05-06 10:54] #1051 closed

[2020-05-06 10:56] #1049 closed

[2020-05-06 11:38] yoptar commented on #1071
Hi @xirect,

This is exactly how we got our [multilingual NER model](https://demo.deeppavlov.ai/#/mu/ner), it was trained only on the English dataset.

[2020-05-06 11:38] #1044 closed

[2020-05-06 11:44] yoptar commented on #1071
Hi @paulagd,

Yes. And after training it once you can run `model = build_model(ner_config)` to initialize again. I also suggest save the updated configuration with new paths to another file so you can reuse it easier.

It will only detect your tags. You can try and merge your data with the provided [conll2003 dataset](http://files.deeppavlov.ai/deeppavlov_data/conll2003_v2.tar.gz) to train the mod

[2020-05-06 11:47] yoptar commented on #1071
I'm closing this issue as all of the questions are answered. If you have any followup questions, please ask them on [our forum](https://forum.deeppavlov.ai/).
We're trying to optimize our communication channels and leave issues for code issues and requests only and use the forum for general questions.

[2020-05-06 11:47] #1071 closed

[2020-05-06 12:22] oserikov commented on #1196
There is no such a feature in go_bot right now though I'm working on the ability to configure responses format right now. The PR is #1173 , it's WIP.

[2020-05-06 12:41] #1042 closed

[2020-05-06 12:42] #1035 closed

[2020-05-06 12:43] #1007 closed

[2020-05-06 12:45] #978 closed

[2020-05-06 12:54] #1003 closed

[2020-05-06 12:55] #995 closed

[2020-05-06 13:08] #939 closed

[2020-05-06 13:18] #938 closed

[2020-05-06 13:19] #937 closed

[2020-05-06 13:26] #931 closed

[2020-05-06 21:40] IgnatovFedor commented on #1067
Hi, @DaniloZZZ
The problem was with numpy in Alpine image: `Error loading shared library ld-linux-x86-64.so.2: No such file or directory (needed by /usr/local/lib/python3.7/site-packages/numpy/core/_multiarray_umath.cpython-37m-x86_64-linux-gnu.so)`. This error was muted by DeepPavlov, that's why only `cannot import name 'train_model' from 'deeppavlov'` occured. We have prepared a bug concealment

[2020-05-07 07:56] IgnatovFedor commented on #1189
@SahithiParsi, we found out what caused this error. Some libraries in your virtual environment was installed with errors, so import error was raised when you imported deeppavlov. Original import error was muted by our library, that's why you can import deeppavlov without any errors. Error occured after initialization of deeppavlov.configs, that's why `ImportError: cannot import name "build_model"`

[2020-05-08 03:19] sgladkoff opened #1202 "Very trivial error: "No module named 'deeppavlov.skills.pattern_matching_skills'"
Hi,

I am trying to follow Tutorial1, 'Hello bot', and have done the following locally:

I have create venv, ran:

pip install deeppavlov

then I am trying to import

from deeppavlov.skills.pattern_matching_skill import PatternMatchingSkill

And the system tells me:

ModuleNotFoundError: No module named 'deeppavlov.skills.pattern_matching_skill'

I am pretty sue it's something really trivial but I

[2020-05-08 12:32] sjm1992st opened #1204 "How to get the output of a certain layer"
I have a trained model, how do I return the output of one of the layers？

[2020-05-08 13:32] Ahzam-Lathiya commented on #1198
I mean can there be a way to use 3rd party APIs?
Just like some actions query database via an API , I want to know is there a way I can use 3rd party APIs in my actions.
Thanks.

[2020-05-08 14:16] victorbocharov opened #1205 "How to reproduce UD dependency parsing result?"
I can't reproduce dependency parsing metrics (UAS=95.2, LAS=93.7) mentioned in the bottom of this page http://docs.deeppavlov.ai/en/master/features/models/syntaxparser.html

I use following script with Universal Dependencies 2.3 and conll18_ud_eval.py.

[code]
Below is the result I get for ud-treebanks-v2.3/UD_Russian-SynTagRus/ru_syntagrus-ud-test.conllu input.

[code]

What am I doing wrong?

[2020-05-10 15:37] AlexeySorokin commented on #1205
@victorbocharov Probably, you have a mistake in reading/writing part of your code. Check this:
[code]
The output is
[code]

[2020-05-10 17:56] smilenrhyme commented on #964
@yoptar please provide your views. It would be a lot of help for us. Thanks.

[2020-05-10 19:01] yoptar commented on #964
Hi @smilenrhyme,
I'm sorry, but I didn't read that paper. I haven't done anything in spelling correction for some time so I'm not really up to date in that field. We do have a new spelling correction model in development, but I don't know a lot about it yet. I suggest you ask this question in our [forum](http://forum.deeppavlov.ai/).

[2020-05-11 06:53] smilenrhyme commented on #964
Thanks a lot 👍

[2020-05-11 10:54] Steboss opened #1206 "running deeppavlov transcribe"
Hi everybody,

I am trying to run a transcribe model on google colab, as:
[code]
I had an initial problem with `model=build_model(configs.nemo.asr)`  because model `nemo` was not found, even if it was installed. Thus I solved this issue installing nemo from Nvidia repository as:
`!pip install git+https://github.com/NVIDIA/NeMo.git`
However, I am facing this new issue:
[code]

Should I install nemo

[2020-05-11 11:02] Steboss commented on #1206
Update:

I restart the runtime and I got this issue right now:

[code]

[2020-05-11 13:37] IgnatovFedor commented on #1206
Hi, @Steboss
Did you run `! python -m deeppavlov install asr_tts` before running `model = build_model(configs.nemo.asr)`? Could you write all executed commands before `AttributeError: module 'nemo' has no attribute 'core'` appeared?
Also, please send all code that led to the `TypeError: __init__() missing 1 required positional argument: 'feat_in'`. Did you modify either DeepPavlov asr config or Ne

[2020-05-11 14:26] Steboss commented on #1206
Hi @IgnatovFedor
Thanks for your reply!

I am trying now to run ` python -m deeppavlov install asr_tts` before all so I'll let you know asap.

These are all the commands I run:

[code]
I am sorry for the so many pip install, but everytime I was running the `build_model` command I got a missing module

[2020-05-11 14:32] Steboss commented on #1206
Hi @IgnatovFedor

After running `! python -m deeppavlov install asr_tts` :

[code]
I have this output:

[code]

[2020-05-11 16:00] IgnatovFedor commented on #1206
@Steboss, you don't have to run all this pip install commands. After running `python -m deeppavlov install asr_tts` all necessary dependencies will be installed. Please, try following code:
[code]
The issue was in absence of necessary model files that downloaded with `python -m deeppavlov download asr`. Alternative way of downloading files is using `download=True` additional kwarg in build_model.

[2020-05-11 16:28] Steboss commented on #1206
Thanks @IgnatovFedor now everything's working fine :)
I am trying to convert a wav file into text running  `model([ "path_to_my_wav.wav"])` but I have this error:
[code]
my wav file is about 150 MB and 15 minutes long
Thanks a million

Stefano

[2020-05-11 16:45] Rajmehta123 opened #1207 "NER combining BIO schema words"
Any way to combine the BIO tokens into compound words.
I implemented this method to combine words but this does not work well for words with punctuations. For eg: S.E.C using the above function will join it as S . E . C

`
CODE:

    def collapse(ner_result):
    # List with the result
    collapsed_result = []

    current_entity_tokens = []
    current_entity = None

    # Iterate over the tagge

[2020-05-11 17:12] IgnatovFedor commented on #1206
As mentioned in [documentation](http://docs.deeppavlov.ai/en/0.9.1/features/models/nemo.html), models work with single channel wav files. This error is most likely occurs due to your file is multi-channel.
If `linee_test.wav` is multi channel, you could create single channel version using following code:
[code]

[2020-05-11 19:16] theanhle commented on #1207
Your problem involves tokenization and detokenization. If your detokenizer fits with the tokenizer, this problem will not occur. For example, if you use `word_tokenize` of nltk then the detokenizer should be `TreebankWordDetokenizer` from `nltk.tokenize.treebank`.

[2020-05-11 21:32] Rajmehta123 commented on #1207
I have not used any tokenizer, rather can state it as I am using the default deeppavlov which I assume is using huggingface tokenizer.
I am using the pre-trained bert model provided by deeppavlov

`build_model(configs.ner.ner_ontonotes_bert, download=False)`

The input to this is sentences and output is tokens with labels. Can I use custom tokens and feed it to the pre-trained model? If yes, can I

[2020-05-12 06:17] fr-judson opened #1208 "AttributeError: module 'transformers' has no attribute 'BertModel'"
im just importing this module using this code:

[code]
i got the error

AttributeError                            Traceback (most recent call last)
<ipython-input-84-06c2cf24cfb1> in <module>
----> 1 from deeppavlov.models.embedders.transformers_embedder import TransformersBertEmbedder

//anaconda3/lib/python3.7/site-packages/deeppavlov/models/embedders/transformers_embedder.py in <module>
     24

[2020-05-12 09:07] Steboss commented on #1206
Ouch
that's great. Now it works fine
I just changed the title of the issue, so it's better and more related to what discussed.
Thanks very much @IgnatovFedor
I am closing the issue

[2020-05-12 09:07] #1206 closed

[2020-05-12 09:21] victorbocharov commented on #1205
Thank you for you help. Should we consider these results as results "with gold segmentation"?

What value of batch_size works faster on CPU?

[2020-05-12 11:41] ostreech1997 commented on #1176
Ok, I got it!
Thanks a lot!

[2020-05-12 11:52] ostreech1997 opened #1210 "How much time is needed to train the model?"
Hi!
I use your library to build chatbot. I use RuBERT model for NER task, and rusentiment BERT for classification task. I want to create progress bar to track train process. So, is it possible to find out the time needed to train the model? Or may be, there is another way to get information of train process progress.

[2020-05-12 14:18] mananeau opened #1211 "Citation?"
Hi all, thanks for your open-source contributions :)

I'm planning to use [one of your models](https://huggingface.co/DeepPavlov/bert-base-cased-conversational) and am wondering how I should cite it. Could you provide me with a reference?

Thanks a lot in advance.

[2020-05-12 21:38] Rajmehta123 commented on #1207
I tried to detokenize using `TreebankWordDetokenizer ` but it still did not form the original sentence. For eg: Orig: sentence -> `parties. \n \n IN WITNESS WHEREOF, the parties hereto `
tokenized and detokenized sentence -> `parties . IN WITNESS WHEREOF, the parties hereto `

Another example: Orig: sentence ->  `Group’s employment, Group shall be`
tokenized and detokenized sentence -> `Group ’ s

[2020-05-13 05:36] ostreech1997 opened #1212 "Library does't see GPU"
Hi everyone, thanks for your library!
I use several BERT models, but I can't train them using GPU. I describe all process:
1) I install Deeppavlov package into docker container
2) I install tensorflow-gpu: pip install tensorflow-gpu==1.14.0
3) I install model’s package requirements and download model
4) I move docker container to another machine with acсess to GPU. This machine has CUDA and cudnn.

[2020-05-13 07:31] paulagd commented on #1071
Okey, following discussion in [here](https://forum.deeppavlov.ai/t/error-in-training-multilingual-ner-with-own-data/452).

Thanks!

[2020-05-13 07:32] paulagd commented on #1071
Okey, following discussion in [here](https://forum.deeppavlov.ai/t/error-in-training-multilingual-ner-with-own-data/452).

Thanks!

[2020-05-13 07:37] IgnatovFedor commented on #1212
Hi, @ostreech1997
Could you please write what base image do you use, all commands used to build, and command used to run this image?
Also note that DeepPavlov already has [gpu Docker image](https://hub.docker.com/repository/docker/deeppavlov/base-gpu).

[2020-05-13 09:02] #1163 closed

[2020-05-13 09:06] #1145 closed

[2020-05-13 09:18] yoptar commented on #1211
Hi @mananeau,

We don't have a specific paper for this model, but you can reference our paper on the DeepPavlov library: https://www.aclweb.org/anthology/P18-4021/

[2020-05-13 09:22] #1189 closed

[2020-05-13 09:23] #1196 closed

[2020-05-13 09:25] mananeau commented on #1211
Sounds good, thanks for your reply!

[2020-05-13 09:25] #1211 closed

[2020-05-13 09:27] dilyararimovna commented on #1210
Hello!
You can always change logging parameters in config file (example from [here).](https://github.com/deepmipt/DeepPavlov/blob/master/deeppavlov/configs/classifiers/rusentiment_convers_bert.json)
[code]
First of all, you can change `validation_patience` (that equals to number of validation procedures with not-improved validation target metrics before stop training), parameters `val_every_n_epoc

[2020-05-13 09:31] #1107 closed

[2020-05-13 09:35] #1067 closed

[2020-05-13 09:40] #975 closed

[2020-05-13 09:42] #934 closed

[2020-05-13 09:44] #927 closed

[2020-05-13 09:45] #926 closed

[2020-05-13 09:46] #919 closed

[2020-05-13 09:47] #907 closed

[2020-05-13 09:48] #880 closed

[2020-05-13 09:48] #876 closed

[2020-05-13 09:49] #875 closed

[2020-05-13 09:50] #872 closed

[2020-05-13 09:51] #871 closed

[2020-05-13 09:57] #848 closed

[2020-05-13 11:30] yoptar commented on #482
We're probably not going to implement this.

[2020-05-13 11:30] #482 closed

[2020-05-13 11:35] yoptar commented on #822
This issue is probably not getting resolved because of how long it has been.
If you still have this problem, please open another issue and we'll try to solve it then.

[2020-05-13 11:35] #822 closed

[2020-05-13 11:37] yoptar commented on #824
This should have been resolved after merging #855.
Please open a new issue if this problem is still relevant.

[2020-05-13 11:37] #824 closed

[2020-05-13 11:41] #885 closed

[2020-05-13 11:41] #896 closed

[2020-05-13 11:43] #952 closed

[2020-05-13 11:43] #1050 closed

[2020-05-13 11:59] yoptar commented on #1194
Hi, @ashispapu,

You can find an example of getting embeddings using Bert in our documentation: http://docs.deeppavlov.ai/en/master/features/models/bert.html#bert-as-embedder

There is also a configuration for getting only sentence-level embeddings: https://github.com/deepmipt/DeepPavlov/blob/master/deeppavlov/configs/embedder/bert_sentence_embedder.json
you can use it like so:
[code]

[2020-05-13 12:02] yoptar commented on #333
We're probably not going to do that.
Existing configurations are built to get the best result we could for separate tasks.

[2020-05-13 12:02] #333 closed

[2020-05-13 12:30] ostreech1997 commented on #1212
Hi, @IgnatovFedor
I use jupyter/base-notebook (link:https://hub.docker.com/r/jupyter/base-notebook/), I only download it and then run: 'docker run -d --name chatbot -p 9010:8888 jupyter/base-notebook'
I read about your deeppavlov/base-gpu image, but I think, that it is not suitable for the task.

[2020-05-13 12:36] dilyararimovna commented on #1160
Hello!

It's better not to remove `load_path` but to remove pre-trained model which is located in load path location.
Our current ideology assumes we always try to load model if it's located `load_path`.

[2020-05-13 12:37] #890 closed

[2020-05-13 12:42] dilyararimovna commented on #940
Hello!
I am very sorry for such delayed answer.
The evolutionary search is time-consuming, and requires a lot of iterations to find a good set of parameters.

[2020-05-13 14:52] vaskonov commented on #882
Hey @cuent , could you paste the entire config here.

make sure that the `out` value of `chainer` fits your `y_true`. Try leaving the `metrics` as  `"metrics": ["accuracy"]`.

[2020-05-13 15:01] dilyararimovna commented on #1028
Hello!

This is very simple to perform such operation.
Preprocessor `one_hotter` actually supports multi-label one-hot vectorization. If you initialize one-hotter with the following params, you will obtain one-hot multi-label vectorization.
[code]

[2020-05-13 15:22] grayskripko commented on #1160
is there an argument of `train()` for this?

[2020-05-13 15:42] dilyararimovna commented on #1157
Hello!
Thank you for reporting this bug. We've already catched that but didn't fix yet.
You may change the line
[code]
to the line
[code]

[2020-05-13 15:45] dilyararimovna commented on #1160
Currently, we don't have this parameter.

[2020-05-13 15:47] dilyararimovna commented on #1160
You may also just set `load_path` to some not existing folder.

[2020-05-13 18:41] IgnatovFedor commented on #1212
@ostreech1997, do you have [nvidia-docker](https://github.com/NVIDIA/nvidia-docker) installed? You could use gpu in container only if you run it with nvidia runtime and if image contains CUDA, CUDNN. To check if nvidia-docker installed correctly use `nvidia-docker run nvidia/cuda:10.0-base nvidia-smi`.
If you need jupyter, build new image based on `deeppavlov/base-gpu` using this dockerfile:
[code

[2020-05-14 02:03] StrikerRUS commented on #885
May I know the reason of closing? @yoptar
Was ability to train KBQA added or your plans changed?

[2020-05-14 05:07] ashispapu commented on #1194
Thanks @yoptar

[2020-05-14 05:07] #1194 closed

[2020-05-14 06:32] AlexeySorokin commented on #1205
Yes, I trained and evaluated all the models with "gold tokenization", the tokenizer in our pipeline is just ``nltk.wordpunct``, so it will make some errors in untrivial cases (e.g., hyphens).
I did not test the model on CPU, only on GPU.

[2020-05-14 07:54] victorbocharov commented on #1205
👍

[2020-05-14 07:54] #1205 closed

[2020-05-14 08:46] yurakuratov commented on #1171
Hi!
To use models from HuggingFace in DeepPavlov BERT-SQuAD models you will have to convert them into TensorFlow format (with `.ckpt` files, `bert_config.json` and `vocab.txt`). HuggingFace has [script to convert weights](https://github.com/huggingface/transformers/blob/master/src/transformers/convert_bert_pytorch_checkpoint_to_original_tf.py), but you will have to build `bert_config.json` and `vo

[2020-05-14 09:06] yurakuratov commented on #1165
Hi!

BERT-based models use WordPiece tokenization, not a tokenization on words like it does NLTK tokenizer.

Here is an example of how to check actual length in subtokens:
[code]

[2020-05-14 09:19] yurakuratov commented on #1148
Thank you!

We have weights for LM head in TensorFlow checkpoint. If you still need them you can find link on this page: http://docs.deeppavlov.ai/en/master/features/pretrained_vectors.html#downloads) and then convert it to PyTorch.

We will update our models in Transformers.

[2020-05-14 09:22] yurakuratov commented on #1149
Hi!
Currently we don't have such plans, but we have multiple pretrained NER models based on BERT in DeepPavlov http://docs.deeppavlov.ai/en/master/features/models/ner.html

[2020-05-14 09:35] yurakuratov commented on #902
Hi!

`vocab_embedder.pckl` is loaded on CPU. It looks like you might have problems with available RAM. Could you check RAM usage when you run training?

[2020-05-14 09:39] yurakuratov commented on #933
Yes, we might cast reports outputs to default python types in `nn_trainer`. @yoptar

[2020-05-14 09:42] yurakuratov commented on #853
@IgnatovFedor Could you help here, which configuration file are we using on the demo page?

[2020-05-14 09:56] IgnatovFedor commented on #853
@yurakuratov, we are using `en_odqa_pop_infer_enwiki20180211` and `ru_odqa_infer_wiki_rubert_noans` with 1080 Ti.

[2020-05-14 11:08] aixuedegege opened #1216 "ModuleNotFoundError: No module named 'bert_dp'"
my code is :

from deeppavlov import build_model, configs
config_path = r"D:\code\python\DeepPavlov-master\tests\test_configs\squad\squad_zh_bert_zh.json"
model = build_model(config_path, download=False)
model(['DeepPavlov is library for NLP and dialog systems.'], ['What is DeepPavlov?'])

but i get an error:

[nltk_data] Error loading punkt: <urlopen error [Errno 11004]
[nltk_data]     getaddrinf

[2020-05-14 11:25] Ahzam-Lathiya commented on #1198
@IgnatovFedor  Do you know how 3rd party APIs can be integrated?

[2020-05-14 11:30] yurakuratov commented on #1216
Hi!

Did you run `python -m deeppavlov install squad_zh_bert_zh ` like described here https://github.com/deepmipt/DeepPavlov/issues/808#issuecomment-484113024

[2020-05-14 12:31] aixuedegege commented on #1216
Thank you very much for your solution！

[2020-05-14 12:32] #1216 closed

[2020-05-14 12:38] IgnatovFedor commented on #1198
@Ahzam-Lathiya, I still can’t quite understand what you need. Could you please give a more concrete example of how it should look? What actions do you mean?

[2020-05-14 13:55] ostreech1997 commented on #1212
@IgnatovFedor thanks a lot! I build image using your dockerfile, and now I can use GPU to train models. But, it seems, that train process uses only one video card. Is it possible to use all video cards for training process?
![photo5325770588641406317](https://user-images.githubusercontent.com/38911542/81943163-b55c1300-9603-11ea-8a1f-fe61aebfa9d1.jpg)

[2020-05-14 14:08] IgnatovFedor commented on #1212
@ostreech1997, you welcome. Unfortunately, now DeepPavlov does not support the use of more than one GPU.

[2020-05-14 14:12] ostreech1997 commented on #1212
Okey, I got it.
Thanks anyway for your help and for Deeppavlov library. It's very helpful!

[2020-05-14 15:14] grayskripko commented on #1160
thanks @yoptar

[2020-05-14 15:14] #1160 closed

[2020-05-14 15:23] grayskripko opened #1218 "Warnings in basic_clasf_reader for valid and test files"
An absence of valid-test files shouldn't be a reason for [warnings](https://github.com/deepmipt/DeepPavlov/blob/master/deeppavlov/dataset_readers/basic_classification_reader.py#L109)
because this is expected behavior when I pass only test.csv file and split data in data-iterator
It can be a `log.info` but even better, it should be exposed outside with explicit arguments

[2020-05-14 15:56] theanhle commented on #1207
Yes, you can use custom tokens and feed it to the pre-trained model without the support of any tokenizer. In DeepPavlov, we have `bert_ner_preprocessor` that takes as input raw words and split them into BERT subtokens.

[2020-05-14 16:18] theanhle commented on #1207
I just take `word_tokenize` and `detokenize` from `nltk` as an example. I mean `tokenizer` and `detokenizer` need to fit with each other. Such kind of text `parties. \n \n IN WITNESS WHEREOF, the parties hereto ` should be preprocessed before feeding to the model.

- `original text -> preprocessor -> NER model -> list of tags`
- `list of tags, original text -> postprocessor -> tag sequence`

[2020-05-14 17:21] oserikov commented on #1122
Hey! What exactly is the purpose of the NER in the pipeline? It seems like one could just pipe the input text through the NER before the model to feed the GO-bot with marked up text.

[2020-05-14 17:23] oserikov commented on #1125
Hey! I think that the most straightforward solution (sort of baseline) is to run chitchat and GO-bot in parallel choosing between their responses on-the-run.

[2020-05-14 17:26] oserikov commented on #1193
Hey! It seems like one could replace the slot value with some mock value before applying the bot. And then to restore the original value in the response when needed.

[2020-05-14 17:28] Rajmehta123 commented on #1207
Got it. Sounds good. Let me try that if it works, I will close the issue.
Also, any parameter to indicate that instead of raw text, I will pass tokens to the pre-trained model. Or do I have to change the source code function (bert_ner_preprocessor) to remove the tokenization process?

Thank you for your help.

[2020-05-14 17:31] oserikov commented on #797
Hey! I'm now working on the gobot. Now my main objective is refactoring but then i'll proceed working on extensions. I'm usually working in some PR labeled as work-in-progress and the features targeted are listed in the PR description. That's where one could find info on what's planned for the near future.

[2020-05-14 17:34] oserikov commented on #664
Hey! The separation of GO-bot units onto separate pipeline units is planned though is not implemented yet.

[2020-05-14 18:10] Ahzam-Lathiya commented on #1198
@IgnatovFedor  When the go-bot is provided with information in slots it runs an API to query a database. (I'm talking about the restaurant example). That is defined in it's actions to query databases on given information. I'm asking that can I add an action in my own bot that would query some 3rd party API like weather, news etc instead of querying a database.

[2020-05-15 11:26] ostreech1997 commented on #1210
Hi @dilyararimovna, thanks for your responce!
Sorry, I don't understan how to use your advice.... You offer me to use logs somehow to track learning progress? Do I have to track number of epochs done? I thought about it, but there are situations, when model is stopped earlier than 100 epochs, how I can overcome this problem?

[2020-05-15 12:18] IgnatovFedor commented on #1198
@Ahzam-Lathiya, to add your custom action you should write your own class inherited from [Component](docs.deeppavlov.ai/en/master/apiref/core/models.html#deeppavlov.core.models.component.Component), [register](http://docs.deeppavlov.ai/en/master/devguides/registry.html) new model in library and new component to [configuration](http://docs.deeppavlov.ai/en/master/intro/configuration.html) file.

[2020-05-15 12:52] Ahzam-Lathiya commented on #1198
@IgnatovFedor  Thank you for replying me. Can you please elaborate a little more that how can I call a 3rd party API as my custom action?

[2020-05-15 13:06] ostreech1997 commented on #1212
Hi, I have new problem with GPU. I want to train several models one after another. But after first train, second model uses CPU to train.
nvidia-smi shows that learning process still is going. However, model has already trained.
I think, that I have to close this process by myself somehow. How I can do it?

[2020-05-15 13:15] IgnatovFedor commented on #1212
@ostreech1997, could you show your code used to train several models one after another?

[2020-05-15 13:21] ostreech1997 commented on #1212
@IgnatovFedor Now, I test training models in Jupyter.  Example of intent classifier

with configs.classifiers.rusentiment_bert.open(encoding='utf8') as f:
    config_classifier = json.load(f)

config_classifier['metadata']['variables']['MODEL_PATH'] = '/base/.deeppavlov/models/classification_task/classification_intent/'
config_classifier['dataset_reader']["data_path"] = '/base/.deeppavlov/download

[2020-05-15 14:44] ostreech1997 commented on #1212
I found that restarting Jupyter kernel fix this. May be there is no problem, if I train models with .py file.
I check it and inform you!

[2020-05-15 20:50] shyamalschandra opened #1219 "Is there any chance you are going to upgrade to tensorflow==2.2.0?"
Is there any chance you are going to upgrade to tensorflow==2.2.0?

[2020-05-17 01:09] jzbjyb commented on #1148
Thanks for updating the tf checkpoint! I converted it to PyTorch.

[2020-05-17 01:09] #1148 closed

[2020-05-17 07:18] nchirr commented on #1202
same problem here. do not see any references to deeppavlov.skills in http://docs.deeppavlov.ai/en either.

[2020-05-17 16:44] yoptar commented on #1204
Hi @sjm1992st,

To get output from a specific component of a pipeline, you can change the `chainer.out` property of your configuration file.
If you want to get to a a specific layer of a neural network, you would have to change the source code, I'm afraid.

[2020-05-17 18:01] yoptar commented on #1143
Hi,

You can run
[code]
in your code to suppress warnings and INFO messages from TensorFlow.

[2020-05-17 18:10] yoptar commented on #1202
Hi,

[This](http://docs.deeppavlov.ai/en/0.4.0/intro/hello_bot.html) is an obsolete tutorial.
To have it running you can install an older DeepPavlov version:
[code]

We've moved away from this interface of skills and agents and are making a separate [Agent](https://github.com/deepmipt/dp-agent) entity with connectors to arbitrary skills.

[2020-05-17 18:10] #1202 closed

[2020-05-17 18:12] yoptar commented on #1208
Hi @fr-judson,

Do you have pytorch installed?

[2020-05-17 18:21] yoptar commented on #1219
Hi @shyamalschandra,
We do have plans for it: #732, but no timeframe yet as we'll have to refactor all the bert-based models and not just them.

[2020-05-17 18:21] #1219 closed

[2020-05-17 19:11] sgladkoff commented on #1202
Nagesh, I managed to overcome this by looking into the deprecated section of code of Deeppavlov.

From: Nagesh Chirravuri <notifications@github.com>
Sent: Sunday, May 17, 2020 3:18 AM
To: deepmipt/DeepPavlov <DeepPavlov@noreply.github.com>
Cc: Serge Gladkoff (LogrusGlobal) <serge.gladkoff@logrusglobal.com>; Author <author@noreply.github.com>
Subject: Re: [deepmipt/DeepPavlov] Very trivial error: "

[2020-05-17 19:29] sgladkoff opened #1220 "GoBot breaks when calling Tensorflow"
The GoBot example from tutrorial says at runtime:

2020-05-12 08:01:47.577 INFO in 'deeppavlov.core.data.simple_vocab'['simple_vocab'] at line 101: [saving vocabulary to /home/sgladkoff/Documents/MyWork/assistant_bot/word.dict]
WARNING:tensorflow:From /home/sgladkoff/Documents/MyWork/env/lib/python3.7/site-packages/deeppavlov/core/models/tf_model.py:37: The name tf.Session is deprecated. Please us

[2020-05-17 19:32] yoptar commented on #1220
Hi @sgladkoff,

This is an expected behavior, there are no errors.
We do have plans on updating properly but no timeframe yet, as there is a lot of work involved.

[2020-05-17 19:32] #1220 closed

[2020-05-18 08:32] paulagd commented on #1193
Hey!

Thank you for the response!!  However, I am understanding the second part -  restoring the original result -  but the part that I do not not how to build is the first one: how do I set a mock value? For example, if I set 2 as mock megapixels value, it won't be able to detect other megapixels no?

I would like to know how I can detect any number before "megapixels" and then of course, I can r

[2020-05-18 08:52] #1193 closed

[2020-05-18 09:37] ostreech1997 commented on #1212
Bad news, when I train models using .py file, I have the same problem. For some reason, gpu continues to be loaded...
Is there any way to free GPU after model's training?

[2020-05-18 11:47] grayskripko commented on #1143
thanks @yoptar, I found the solution a month ago. The thing is that most of your users won't find this and important messages will be hidden in tons of non-relevant garbage info messages. Why don't create an argument for most important CLI commands (build_model, train_model, ...) log_level and adjust deeppavlov, keras, tf, pytorch, (...) and others

[2020-05-18 11:48] grayskripko commented on #1143
on the other side, a lot of tf warnings are good to solve on the deeppavlov side

[2020-05-18 14:17] yoptar commented on #885
@StrikerRUS, we're just closing stale issues to try and make our communication channels a little bit more manageable.
We have the #1156 PR, it will allow some training. We plan to release it next week.

[2020-05-18 21:44] StrikerRUS commented on #885
OK, understand.

Thanks a lot for your reply and for pointing to that PR!

[2020-05-19 07:21] vRicardo98 opened #1221 "Alphabet File"
Hi,

I wanna know if possible, what does the alphabet.pkl file contain and where can i obtain it, because i need that file.

Best regards.

[2020-05-19 08:39] ostreech1997 commented on #1212
I think this problem for another issue. Thanks a lot for your help @IgnatovFedor, now I can use GPU for train.

[2020-05-19 08:39] #1212 closed

[2020-05-19 09:13] ostreech1997 opened #1222 "Train using GPU, predict using CPU"
Hi everyone!
I'm new in deep learning, so sorry I ask a lot of questions.  I opened this issue: https://github.com/deepmipt/DeepPavlov/issues/1212 and now I can use GPU to train BERT models. I'm building chatbot system and for this reason I have to load 4 trained models: intent classification, two ner models, and bert embedder. But I have several problems with it:
1) I want to train models one by

[2020-05-19 09:43] yoptar commented on #1222
Привет, @ostreech1997!

Можно по-русски, если так удобнее.

TensorFlow и pytorch не освобождают память, которую заняли, пока не завершится процесс, память всегда будет показываться занятой в nvidia-smi, тут мы ничего не можем сделать, к сожалению.
Другое дело, что можно в рамках фреймворка освободить память, которую смогут переиспользовать другие модели на том же фреймворке. Для TensorFlow-моделей

[2020-05-19 11:13] ostreech1997 commented on #1222
Привет @yoptar! Спасибо за ответ)
У меня следующая схема работы: я переобучаю модели с помощью .py файла вида:
from deeppavlov import configs, train_model
[code]
То есть мне нужно после каждого обучения дописывать model.destroy() ? Типа так:
[code]
Или может быть создать main.py, который будет вызывать три других .py файла обучения: intent.py, ner1.py, ner2.py, обучающие модели по отдельности? Или

[2020-05-19 14:19] Rajmehta123 commented on #1207
I figured out a solution to this problem.

    def join_tokens(tokens):
        res = ''
        if tokens:
            res = tokens[0]
            for token in tokens[1:]:
                if not (token.isalpha() and res[-1].isalpha()):
                    res += token  # punctuation
                else:
                    res += ' ' + token  # regular word
        return res

    def collapse(n

[2020-05-19 14:19] #1207 closed

[2020-05-20 04:54] #1195 closed

[2020-05-20 04:55] #1157 closed

[2020-05-20 05:02] #1028 closed

[2020-05-20 05:03] #940 closed

[2020-05-20 05:06] #882 closed

[2020-05-20 06:55] dmitrijeuseew commented on #1072
Hi, daqulazhang, ZRSE dataset is used the following way:
about 1000 question templates from ZRSE dataset with corresponding relations are written into a pickle file.
An input question to the model is compared with each of these templates. For example, the question
"What is the capital of Germany?" matches with the template "What is the capital of XXX?", the relation from Wikidata is P36 ("capital"

[2020-05-20 07:14] dilyararimovna commented on #1210
If you have a validation set, you may track the accuracy (this is an example, you may track any metric). So, you just need to decide how often to check it. For example, every 1 epoch:

"train": {
    "batch_size": 64,
    "epochs": 100,
    "metrics": [
      "accuracy"
    ],
    "show_examples": false,
    "pytest_max_batches": 2,
    "validation_patience": 5,
    "val_every_n_epochs": 1,
    "l

[2020-05-20 07:16] dilyararimovna commented on #1218
Hello!
Dataset reader does not have an access to the dataset iterator parameters. Therefore, it doesn't know that you want to split train set into train and valid, but still it does know that you will need validation set for training. So, it logs warning to notify that you do not have validation set.

[2020-05-20 09:39] theanhle commented on #925
Hi, I don't really guess what you mean. Here is some code you can use to integrate a DeepPavlov NER model in your system:

`from deeppavlov import configs, build_model
ner_model = build_model(configs.ner.ner_ontonotes_bert, download=True)
ner_model(['Bob Ross lived in Florida'])

[2020-05-20 09:48] ostreech1997 commented on #1210
Возможно мой английский очень плох....))
Меня интересует не отслеживание качества модели. Я хочу сделать прогресс бар времени обучения. То есть, чтобы я запускал обучение и видел в реальном времени сколько еще осталось учиться модели. Как вариант, я думал считать процент обучения с помощью пройденных эпох (epochs_done/epochs*100), но модель никогда не проходит все эпохи. Может быть в вашем фреймор

[2020-05-20 11:02] yurakuratov commented on #865
Data format for context question answering should be the same as used for every pre-trained model for context question answering in DeepPavlov. This format is not documented but is the same as used in SQuAD v1.1 https://rajpurkar.github.io/SQuAD-explorer/.
This dataset can be found [here](http://files.deeppavlov.ai/datasets/squad-v1.1.tar.gz).

Context question answering models use [SquadDatasetRe

[2020-05-20 11:34] yurakuratov commented on #1146
Hi!

Thank you for reporting!
We need to investigate further on that problem.

You use this model correctly, but predictions do not look like expected ones. Did you experienced the same problem with other BERT models?

[2020-05-20 13:40] grayskripko commented on #1218
I agree the reader is responsible for reading. In the code of the basic_clas_reader, there is an assumption that all 3 files should be presented. If users intentionally use a train file only they can't avoid nonsense warnings.

[2020-05-20 13:45] grayskripko commented on #1218
my whole feeling of your great package is so that there are tons of weakly adjusted logs when you train or build a model. Any truly important warning has high chances to be lost there. When I set the logging level to warning I expect to get true warnings. For the moment, I'm able to do this only changing the deeppavlov code.

[2020-05-20 22:44] username1618 commented on #1142
I've got the same question.

[2020-05-21 09:59] #1171 closed

[2020-05-21 10:00] #1165 closed

[2020-05-21 10:00] #1149 closed

[2020-05-21 10:00] #1146 closed

[2020-05-21 10:03] #1125 closed

[2020-05-21 10:04] #1122 closed

[2020-05-21 10:05] #902 closed

[2020-05-21 10:05] #853 closed

[2020-05-21 10:06] #797 closed

[2020-05-21 10:12] dilyararimovna commented on #1210
Нельзя точно гарантировать, сколько модели осталось обучаться в случае, если вы используете early stopping по метрикам на валидации. Поэтому смысла от progress bar в таком случае нет.

Однако вы можете попробовать использовать tensorboard или смотреть в сами логи (первое нагляднее), чтобы смотреть как ведут себя метрики, видна ли уже сходимость на трейне и как ведут себя метрики на валидации, что

[2020-05-21 10:23] ostreech1997 commented on #1210
Понятно
@dilyararimovna спасибо большое за ответ!

[2020-05-21 10:23] #1210 closed

[2020-05-21 14:30] yoptar commented on #1218
Hi @grayskripko,
We believe that this scenario warrants a warning, but you're right that one should be able to explicitly skip a data type, so I've added #1224.
With it you should be able to add `"valid": null` to the reader config and not get this warning.

[2020-05-23 11:59] Beherasaptami opened #1225 "Does Deepavlov capable of handeling multiple agents in single instance"
I have query to ask like DeepPavlov is capable of handling multiple agents in single instance i mean like have created multiple agents for different sites , will it be possible to routes all the agents to same port number

[2020-05-25 07:30] pituganov opened #1228 "Download models data from s3"
Привет.

Обученные модели я загружаю на s3, чтобы потом добавить их в конфиг в `"download"`. Проблема в том, что DeepPavlov не может скачивать данные по ссылкам на s3.

Данные из s3 можно загрузить создав временную ссылку на файл или сделав файл публичным, но это не очень удобно.
Было бы круто, если можно было загружать данные напрямую через s3.

Например, указать в конфиге s3 ссылку на обученную

[2020-05-25 09:27] manueltonneau opened #1229 "Preprocessing for BERT base cased conversational"
Hi all,

Thanks for your cool contributions :)

I am currently using [this model](https://huggingface.co/DeepPavlov/bert-base-cased-conversational) for tweet classification and was wondering whether you did any data preprocessing before pre-training on social media data (e.g. tweets). I didn't find this information on the model card so that's why I'm asking here :)

[2020-05-25 10:18] Eugen2525 opened #1230 "Data set creation routine for gobot DSTC 2 format"
Hi,

I want to create data set creation routine for gobot DSTC 2 format. I know that that there is an on going refactoring of the codebase for the Goal-oriented bot (gobot).

Also, there is a new DSTC 8 challenge and Alexa Prize socialbot which is to be open sourced.

So I want to ask if this feature would be needed or is it duplication of work?

Ideally, I want to pull the routine to the deeppavl

[2020-05-25 11:13] mananeau commented on #1229
Actually, my question can be divided into two:
- did you clean the raw tweets?
- did you split the tweets in different sentences?

Thanks a lot in advance :)

[2020-05-26 03:29] Eugen2525 commented on #1230
Hi @oserikov

so you have self-assigned this to answer my questions or do you want to roll out the routine?

If  you want to roll out then could you please inform when do you think you could finish this? I need it by some deadline so I need your answer on this.

[2020-05-26 18:15] oserikov commented on #1230
Hey! I'll be happy to answer questions and provide the necessary help on that feature -- it is extremely useful. Sorry for the delayed response. I will write a bit more meaningful comment either tonight or morning.

[2020-05-26 20:30] RAVANv2 commented on #1133
@yoptar after downloading this file it shows me
this error:
2020-05-26 20:20:06.220 INFO in 'deeppavlov.download'['download'] at line 116: Skipped http://files.deeppavlov.ai/deeppavlov_data/ner_ontonotes_bert_v1.tar.gz download because of matching hashes
2020-05-26 20:20:07.468 INFO in 'deeppavlov.download'['download'] at line 116: Skipped http://files.deeppavlov.ai/deeppavlov_data/bert/cased_L-12

[2020-05-26 20:32] yoptar commented on #1133
Hi @RAVANv2,
This is not an error message. It shows that you already have the required files and that their hashes match those of requested files on the server.

[2020-05-27 01:19] Eugen2525 commented on #1230
ok, thanks, will be waiting then

[2020-05-27 09:02] dilyararimovna commented on #1229
Hello!
- we didn't clean raw tweets, we have kept hashtags, account names, smiles, etc. For training BERT, we just tokenized texts.
- We didn't parsed threads of twits, so yes, we have taken twits and divided them to sentences (several sentences of one twit is one sample).

[2020-05-27 11:15] mananeau commented on #1229
Hi @dilyararimovna, thank you for you reply :)

Thanks, that is clear.

This is not clear to me. You say you divided tweets in sentences, I get that. But you then say that several sentences of one tweet (that is the whole tweet I guess) is one sample? In that case, you have one tweet per line in your txt file and not one sentence? What am I missing?

Thanks a lot in advance for your help :)

[2020-05-27 11:40] oserikov commented on #1230
Ok so

Yes

---

Regardless of the target format one should properly understand the input data before serializing.

I think that it would be useful to have an intermediate data representation as smth pythonic (or detaframe probably).
The intermediate representation could then be serialized in multiple ways: I think that both dstc2 and dstc8 serializations are OK, the latter is more readable probs.

[2020-05-27 12:08] dilyararimovna commented on #1229
To train BERT on task of predicting next sentence, you need to have a sequence of sentences as one sample in the dataset.

When you training downstream tasks like classification, that's normal to classify text consisting of several sentences as one sample.

[2020-05-27 13:16] Eugen2525 commented on #1230
Thanks for your response.

I will proceed to the creation of the routine with some prototype for your consideration soon.

[2020-05-27 15:09] #1218 closed

[2020-05-28 17:56] alissiawells opened #1234 "Paraphrase model requires fasttext of version that doesn't exist"
I have wrote a script using Deeppavlov. It works on my machine. When I try to run the script on a remote server, it fails with the Import Module Error: fastText not found. Paraphrase model requires fasttext==0.8.22, however there are only 0.8.2 and 0.8.3 versions
![1590688385194](https://user-images.githubusercontent.com/35057128/83175879-50d1a580-a125-11ea-9283-6cfb3ca63cd2.jpg)

[2020-05-28 17:59] yoptar commented on #1234
Hi @alissiawells,
Can you post the full error message that comes up when you try to run the model?

[2020-05-28 21:39] alissiawells commented on #1234
root@80-78-248-95:~# sudo python3 paraphrase_matrix.py texts.txt
2020-05-29 00:20:01.600 INFO in 'deeppavlov.download'['download'] at line 117: Skipped http://files.deeppavlov.ai/datasets/paraphraser_gold.zip download because of matching hashes
2020-05-29 00:20:32.929 INFO in 'deeppavlov.download'['download'] at line 117: Skipped http://files.deeppavlov.ai/embeddings/ft_native_300_ru_wiki_lenta_lo

[2020-05-28 21:40] alissiawells commented on #1234
~# sudo python3 paraphrase_matrix.py texts.txt
2020-05-29 00:20:01.600 INFO in 'deeppavlov.download'['download'] at line 117: Skipped http://files.deeppavlov.ai/datasets/paraphraser_gold.zip download because of matching hashes
2020-05-29 00:20:32.929 INFO in 'deeppavlov.download'['download'] at line 117: Skipped http://files.deeppavlov.ai/embeddings/ft_native_300_ru_wiki_lenta_lower_case/ft_native

[2020-05-28 21:58] yoptar commented on #1234
There's a suggestion on how to fix that at the end of this error message:

`/usr/bin/python3 -m pip install pybind11==2.2.3 git+https://github.com/deepmipt/fastText.git#egg=fastText==0.8.22`
or for your deeppavlov pipeline configuration
`/usr/bin/python3 -m deeppavlov install <config_path>`

You can also try and update to a version of DeepPavlov `0.8.0` or higher that uses `fasttext==0.9.1` from p

[2020-05-28 21:58] #1234 closed

[2020-05-29 06:48] #1198 closed

[2020-05-29 08:03] alissiawells commented on #1234
I started the tred with the screenshot: there's no fasttext==0.8.22, only 0.8.2, 0.8.3 versions and so on. I see this error message, when I run:

/usr/bin/python3 -m pip install pybind11==2.2.3 git+https://github.com/deepmipt/fastText.git#egg=fastText==0.8.22

[2020-05-29 08:53] #1208 closed

[2020-05-29 08:53] #1204 closed

[2020-05-29 09:03] #1072 closed

[2020-05-29 09:09] #865 closed

[2020-05-29 09:25] yoptar commented on #1234
There is no `fasttext==0.8.22` on pypi but you can install it from github using the command above.
The error you showed in the first message is for when you try to install it from pypi and not from github.

Can you post the error message that you get when you run the command for installing it from github?
[code]

[2020-05-29 09:26] alissiawells commented on #1234
I've tried to update to a version of DeepPavlov 0.8.0 but cannot run my script because of the Exception: fastText: Cannot load /root/.deeppavlov/downloads/embeddings/ft_native_300_ru_wiki_lenta_lower_case.bin due to C++ extension failed to allocate the memory

[2020-05-29 09:49] yoptar commented on #1234
What version of fastText do you have installed? It should be `fasttext==0.9.1`

[2020-05-29 14:24] yoptar commented on #1031
Closing a stale issue

[2020-05-29 14:24] #1031 closed

[2020-05-29 14:31] yoptar commented on #951
I'll close this issue as it will most likely never be fixed.
Newer Bert-based models do not have this problem.

[2020-05-29 14:31] #951 closed

[2020-05-29 14:31] #942 closed

[2020-05-29 14:34] #925 closed

[2020-05-29 14:36] #911 closed

[2020-05-29 14:57] yoptar commented on #804
Same as #664

[2020-05-29 15:01] yoptar commented on #585
Was created when the old logging system was implemented, so it is now obsolete.

[2020-05-29 15:01] #585 closed

[2020-05-29 15:04] yoptar commented on #433
Done in https://github.com/deepmipt/dp-agent

[2020-05-29 15:04] #433 closed

[2020-06-01 08:51] kotbegemot commented on #1234
I have a version fasttext==0.9.1  fasttext==0.9.1 . What version of tensorflow should I install?

[2020-06-01 09:06] kotbegemot commented on #1234
@yoptar

[2020-06-01 10:26] yoptar commented on #1234
@kotbegemot, you can find an answer in the [readme](https://github.com/deepmipt/DeepPavlov#gpu-requirements).
Afterwards, please post questions like this on the [forum](https://forum.deeppavlov.ai/) and not in a closed issue on an unrelated to your question subject.

[2020-06-02 05:51] ostreech1997 commented on #1222
Thanks for help here, I continue discussion on Deeppavlov's forum

[2020-06-02 05:51] #1222 closed

[2020-06-02 06:20] Eugen2525 commented on #1230
Ok, so I came up with something like below. You run it using command line interface.

[code]

and the output (saved as 'generated_data.json'):

[code]
I want your opinion on it to make it more deeppavlov way. Then, I want to create pull request to the repository.

[2020-06-02 10:33] Eugen2525 commented on #1230
Ok, so I came up with something like below. You run it using command line interface.

[code]

and the sample output (saved as 'generated_data.json'):

[code]
I just used the first dialog in the train file to emulate the generation. There are bugs here and there, which I will fix.
At this stage, I want your general opinion on it to make it more deeppavlov way. Then, I want to create pull request to

[2020-06-02 13:15] TsvetanRangelov opened #1237 "Memory issues with bert_ner_ontonotes_mult"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):
0.10
**Python version**:
3.7.6

**Operating system** (ubuntu linux, windo

[2020-06-02 14:42] Eugen2525 commented on #1230
So please guide me what should be best to do next, how to refactor the code, should this module inherit from a deeppavlov component to make it a part of a chain if needed, your view on the GUI version, etc

[2020-06-02 15:06] manueltonneau commented on #1229
Understood, thank you :)

[2020-06-02 15:06] #1229 closed

[2020-06-02 22:06] oserikov commented on #1230
Hey! Cool, thanks! I'll take a look this morning

[2020-06-03 07:53] yurakuratov commented on #1237
Hi!
I tried to run these code and got following output for CPU-only:
[code]
with GPU:
[code]

What is your output of this command? How did you calculate that it is 3 times more than expected? What is the expected value?

[2020-06-03 13:16] TsvetanRangelov commented on #1237
Hello, thank you for your response. I ran this several times and get values around 5 000 000 000 similar to this:
pmem(rss=5709262848, vms=14938374144, pfaults=6714897, pageins=20091)
pmem(rss=5053218816, vms=10306125824, pfaults=2975375, pageins=3475)
but I expected the model to be 1.4GB in memory as stated in:
http://docs.deeppavlov.ai/en/master/features/models/ner.html
I hope I am not a misunde

[2020-06-03 13:17] oserikov commented on #1230
Ok what's the purpose of this exactly conversion? It does dstc2 -> dstc8 conversion, did I get it right?

[2020-06-03 19:36] aakash086 commented on #671
Though the issue is closed without resolution hence allow me to write the resolution which is to use :
"from deeppavlov.agents.processors.highest_confidence_selector import HighestConfidenceSelector" it should work.
Thanks

[2020-06-03 20:37] yurakuratov commented on #1237
`Model Size` in this table means HDD usage, not RAM.

[2020-06-04 09:53] TsvetanRangelov commented on #1237
Oh ok, I misunderstood then. Closing this in that case

[2020-06-04 09:53] #1237 closed

[2020-06-04 10:38] Eugen2525 commented on #1230
I think, I'd better paste you the console. Below is the console and the input.

By inputting "dstc2-templates.txt", "dstc_slot_vals.json" and "db.sqlite", we can generate any  dialog. Above, I just tried to recreate the first dialog in the train dataset of the dstc2 dataset:

[code]

[2020-06-04 10:41] Eugen2525 commented on #1230
I hope you got the idea by now. If there are any questions let me know. I want to finalize this quickly to take it to a pull request so your comment is very much appreciated.

[2020-06-04 13:49] oserikov opened #1238 "Provide an example of go-bot integration with DB systems other than SQLite"
The go-bot is able ([example](https://github.com/deepmipt/DeepPavlov/blob/master/examples/gobot_extended_tutorial.ipynb)) to query an API to get the data. The data is usually stored in DB. In our example the SQlite database is used.

There are other DBMS used in production environments and examples of integration with these are needed.

**The contribution could be one of these**:
* update existing

[2020-06-04 13:50] oserikov opened #1239 "Provide an extensive example of API usage in go-bot"
The go-bot is able ([example](https://github.com/deepmipt/DeepPavlov/blob/master/examples/gobot_extended_tutorial.ipynb)) to query an API to get the data. It allows to perform the dialog relying onto some explicit knowledge.

In the provided example the bot queries the database to perform some read operations. Operations of other classes (e.g. update) seem to be possible but we have no examples of

[2020-06-04 13:51] oserikov opened #1240 "Implement various output modules for go-bot"
The go-bot defaults to template-based response generation (i.e. the model learns to respond with relevant templates) though both non-templated and non-natural-language (e.g. #1196 verbose intermediate calculations logs) output features seem relevant.

There has been done some refactoring to allow such extensions of the go-bot (yet some ideas are to be finished).

To implement some additional outpu

[2020-06-04 13:53] oserikov opened #1241 "Allow for various dataset formats to be used in go-bot"
There are several popular datasets for goal-oriented tasks:
* academia born: MultiWOZ ([paper](https://arxiv.org/pdf/1810.00278.pdf), [github](https://github.com/budzianowski/multiwoz)), Schema ([paper](https://arxiv.org/pdf/1909.05855.pdf), [github](https://github.com/google-research-datasets/dstc8-schema-guided-dialogue)), ...
* industry collected|used

We wish to support all the common dataset

[2020-06-05 00:35] Eugen2525 commented on #1240
Hi, can I assign this issue to me or how does it work?
Basically, I want to contribute on this...

[2020-06-05 04:55] Eugen2525 commented on #1238
Hi, I can try to do one for postgresql for the starter.

[2020-06-05 09:56] oserikov commented on #1230
Ok! I got it, thanks 😅
Sorry for the delay, thanks for interest to our published contribution ideas btw!

Seems like I didn't get you right at first, my bad.
I mean, what I thought you suggested was just the converter from one popular format to another, and the routine here above does more than the conversion, it assists the creation of completely new datasets. Sorry again for misunderstanding.

S

[2020-06-05 09:59] oserikov commented on #1238
Sounds cool! I suggest to use the [gobot-extended tutorial](https://github.com/deepmipt/DeepPavlov/blob/master/examples/gobot_extended_tutorial.ipynb) as the backbone for the postgresql tutorial to provide the minimalistic yet expressive demo, what do you think about?

[2020-06-05 12:36] Eugen2525 commented on #1230
oops, the codebase has significantly changed recently, I was behind several commits...
Anyways, I have submitted a pull request with an example where you can see an illustration of what I meant.
Regarding your suggestions, I see that the codebase has changed extremely from what it was just 2-3 months ago... I need some time to inspect and I will then comeback with an idea.

Thanks for your guidanc

[2020-06-05 12:39] Eugen2525 commented on #1238
Thanks, I have tried to use the format to create a tutorial kind of explanation for the earlier issue/feature request. You can see it in the pull request btw, but the problem is it is a bit behind the current refactoring in the codebase.
I will come up with a tutorial hopefully soon. stay tuned!

[2020-06-05 15:59] Rajmehta123 opened #1243 "Squad_bert install in requirement.txt"
**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

[2020-06-05 17:08] yurakuratov commented on #1243
Isn't `RUN python -m deeppavlov install squad_bert` in a Dockerfile a solution?

[2020-06-08 19:05] Rajmehta123 commented on #1243
That could be a solution. I was trying to have all packages in the requirement. But if it cant fit in requirements.txt, I could add that command in build.sh.

Trying to keep all packages into one, if that is a possibility.

[2020-06-10 07:33] lyangas opened #1244 "Не детерминированная работа ner_few_shot_ru"
DeepPavlov version:
0.10.0
Python:
3.7.4

Operating system:
Ubuntu 18.04.4

config:
configs.ner.ner_few_shot_ru

использую ner_few_shot_ru для решения задачи именованных сущностей. вывожу итоговый имбеддинг слов и оказалось что имбеддинг разный при каждом запуске классификации токенов. не нашел нигде способа детерминировать работу модели (как я понял, ELMO), это возможно?

прикрепляю пример
<img w

[2020-06-10 10:06] ilya68rus01 opened #1245 "It is not possible to train a question-answer model on own dataset"
I have before me an interesting task of training a question-answer system on my own data. I use this notebook as an example: https://colab.research.google.com/github/deepmipt/dp_notebooks/blob/master/DP_ODQA.ipynb#scrollTo=7C1mT_2-Nlnj

However, the ranker does not enter information about existing training files into the database or writes that it is busy with another process.

The code is present

[2020-06-11 08:56] prhbrt opened #1247 "AttributeError raised when validating with an empty validation set or a missing valid.csv"
DeepPavlov 0.5.0, Python 3.7.6, Ubuntu 20.04

When the validation set is empty, this error

     AttributeError: 'NoneType' object has no attribute 'items'

is raised by

[`metrics = list(report['metrics'].items())`](https://github.com/deepmipt/DeepPavlov/blob/master/deeppavlov/core/trainers/nn_trainer.py#L174)

because [the value for `"metrics"` is set to `None` here](https://github.com/deepmipt/

[2020-06-11 17:48] #1243 closed

[2020-06-14 01:38] Eugen2525 commented on #1230
@oserikov I have created a PR but I am not sure why I cannot pass jenkins tests. can you explain what is wrong and how can I pass them?

[2020-06-14 13:15] mu-arkhipov commented on #1244
Might be related to this issue https://github.com/allenai/allennlp/issues/2516, mentioned here https://opendatascience.slack.com/archives/C04N3UMSL/p1592085494240700?thread_ts=1591772554.130900&cid=C04N3UMSL

[2020-06-14 18:28] pituganov commented on #1228
Да. Спасибо.

[2020-06-16 06:49] alissiawells opened #1250 "Paraphrase detection - BadZipFile"
My module, based on deeppavlov, runs on my machine. However, it does not work on a remote sever with Ubuntu 18.04 because of BadZipFile. What problem can be in a paraphrazer.zip, mentioned in the traceback (in a screenshot)?
I use deeppavlov of 0.8.0 version with small modifications: github.com/alissiawells/deeppavlov (treshold instead of model’s verdict in the output)

![33300DFF-121D-4F37-A8ED-3

[2020-06-19 02:16] abhisheksurya578 commented on #1230
Hello @Eugen2525 Can you please provide the detailed Deeppavlov Go_Bot tutorial for a custom dataset.

[2020-06-19 06:55] Eugen2525 commented on #1230
yes, I am planning to do some tutorial for creating a bot from scratch, with no initial train data at hand. I will do it soon, so stay tooned

[2020-06-19 06:59] abhisheksurya578 commented on #1230
@Eugen2525 Thanks. Without training data how can we do that? Can you please share some thoughts of how you trained the bot and the format in which you prepared the dataset for your custom data

[2020-06-19 20:08] alissiawells opened #1253 "tarfile.ReadError"
My module, based on deeppavlov, runs on my machine. However, it does not work on a remote server with Ubuntu 18.04 because of  tarfile.ReadError.
![515DD10E-2DE1-453D-BFD5-4C0DA4AFD67C](https://user-images.githubusercontent.com/35057128/85176100-aeb76000-b281-11ea-97e7-b0b74810a5d8.jpeg)

I use deeppavlov of 0.8.0 version with small modifications: github.com/alissiawells/deeppavlov (treshold inste

[2020-06-19 20:18] yoptar commented on #1253
Hi @alissiawells,

This is most likely related to #1109 (it will be fixed in the next release) as the console shows 2.76 KB downloaded while the file itself is about 5 MB.
There may be a typo in the download link or some troubles with network.

You can try and download and extract the file with other methods.

[2020-06-22 10:52] menajosep opened #1256 "Problem when restoring model after saving it"
**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):
Version: 0.10.0
**Python version**:
Python 3.6.9
**Operating system** (ubuntu linux, windows, ...):
Google colab
**Issue**:
After training a NER model and saving it, I'm not able to restore it for using it to predict new sentences.
I train the model using:
`ner_model = train_model(ner_config, download=True)`
and after tr

[2020-06-22 10:59] yoptar commented on #1256
Hi @menajosep,

Will it behave the same way if you do not run the `ner_model.save()` command?

When you run `ner_model = train_model(ner_config, download=True)` you get a model that's already loaded from a saved checkpoint.

[2020-06-22 12:20] menajosep commented on #1256
HI @yoptar ,
I tried doingthe same without explicitely calling the save method but i got the same result:
[code]
It looks to me like it only works when in the same session. Any idea about how to fix this?

[2020-06-22 15:27] menajosep commented on #1256
Hi again,
Another weird thing that I realized now is that after training the model:
[code]
it is not generating the file model.data-00000-of-00001 in the target folder.
By the way, the Tensorflow version used is '1.15.2'

[2020-06-22 15:33] yoptar commented on #1256
That's what i was experimenting with right now, actually.
My guess is that you don't have enough space on your Google Drive, so the `model.data-00000-of-00001` file is created and usable in the same colab session, but it's not synchronized because of the lack of space. So when you reboot the instance or start a new one your drive is restored as is.

[2020-06-22 18:53] menajosep commented on #1256
You were right, it was a problem of my Google Drive, I run out of space and it was not able to store the model. My fault! thank you so much anyway.
By the way, how did you know it?

[2020-06-22 19:01] yoptar commented on #1256
A quick google search told me that this error happens if a model file is incomplete, so I was trying to understand how you could transfer the file between instances, how you would damage it in process, and why would it affect the same instance after restarting.
And your message about not having the file at all and the fact that your model is saved to `/content/drive/My Drive` provided an answer to

[2020-06-22 19:01] #1256 closed

[2020-06-24 12:24] dsoloviev commented on #840
Hi! I'm trying to use Deep Pavlov models for Russian masked LM task in Hugging Face. But there are no adequate results. Why so? May be I've missed something =)

from transformers import pipeline

fill_mask = pipeline(
    "fill-mask",
     model = 'DeepPavlov/rubert-base-cased',
     tokenizer = 'DeepPavlov/rubert-base-cased'
)

result = fill_mask(f"Александр Пушкин - великий русский {fill_mask.to

[2020-06-29 15:15] antoinecomp opened #1258 "Unexpected keyword argument 'hidden' when installing deeppavlov"
**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):
[code]
**Python version**:

Python3.7

**Operating system** (ubuntu linux, windows, ...):

Windows 10

**Issue**:
I want to get the intents in questions so I'm trying to install deeppavlov following [the docs][1]. Yet I got a TypeError: unexpected keyword argument 'hidden' when installing it.

  [1]: http://docs.deeppavl

[2020-06-29 17:05] yoptar commented on #1258
Hi @antoinecomp,

Thank you for reporting this error, I was able to reproduce it.
It looks like you have an older version of the `click` package.
To fix it you can run `pip install click==7.1.2`.
We will lock the version requirement in the next DeepPavlov release.

[2020-06-30 12:21] PeganovAnton opened #1261 "ner_f1 metric computed wrongly"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`): 0.10.0

**Python version**: 3.7.7

**Operating system** (ubuntu linux, wi

[2020-06-30 12:23] yoptar commented on #1261
There should not be a `O-TAG` entity, only `O`

[2020-06-30 12:27] #1261 closed

[2020-06-30 12:32] PeganovAnton opened #1262 "Documentation for metrics 'ner_f1', 'ner_token_f1'"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]

[2020-06-30 12:33] #1109 closed

[2020-06-30 12:33] #1230 closed

[2020-06-30 20:07] zjohn77 opened #1265 "ODQA on Wikipedia example doesn't work"
Getting the error below when I try to follow the Quick Start from: http://docs.deeppavlov.ai/en/master/features/skills/odqa.html

My environment is: DeepPavlov 0.11.0, python 3.7.7, MacOS 10.15.5

FileNotFoundError                         Traceback (most recent call last)
~/my_pav.py in <module>
      2 from deeppavlov.core.commands.infer import build_model
      3
----> 4 odqa = build_model(confi

[2020-07-03 10:09] #1258 closed

[2020-07-03 10:11] #1253 closed

[2020-07-03 10:31] #1228 closed

[2020-07-03 10:32] #1225 closed

[2020-07-03 10:34] #1221 closed

[2020-07-03 10:37] #1142 closed

[2020-07-03 11:46] mosvlad commented on #1265
Same error on **configs.odqa.ru_odqa_infer_wiki**

[2020-07-03 12:05] mosvlad opened #1266 "KBQA model for simple question answering in Russian not working"
Code :

    from deeppavlov import configs, build_model

    kbqa_model = build_model(configs.kbqa.kbqa_rus, download=True)
    kbqa_model(['Когда родился Пушкин?'])

fails with :

    kbqa_model = build_model(configs.kbqa.kbqa_cq_rus, download=True)
    AttributeError: 'Struct' object has no attribute 'kbqa_cq_rus'

**DeepPavlov version** : 0.10.0

**Python version**:   3.6.9

**Operating system*

[2020-07-03 13:04] dmitrijeuseew commented on #1266
KBQA model for simple question answering was replaced with beta version of KBQA model for complex question answering in the latest release of DeepPavlov. New config is in the folder configs/kbqa/kbqa_cq_rus.json

[2020-07-03 13:50] dmitrijeuseew commented on #1245
Now the path to database is  'C:\Users\Ilya\.deeppavlov\downloads\odqa\enwiki.db'
The error message shows that this file is used with another process.
I suggest to change filename in the config:
model_config["dataset_reader"]["save_path"] = new_path

[2020-07-05 07:16] kashyap-aditya opened #1267 "Installation of squad_bert fails. Tensorflow not found."
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`): 0.11.0

**Python version**: 3.6.9

**Operating system** (ubuntu linux, wi

[2020-07-05 07:21] kashyap-aditya commented on #1267
Solved by running
pip install --upgrade pip

[2020-07-06 05:46] #1267 closed

[2020-07-06 05:58] IgnatovFedor commented on #1266
Hi @mosvlad,

`configs.kbqa.kbqa_cq_rus` was added in 0.11.0

[2020-07-06 05:58] #1266 closed

[2020-07-06 21:01] IgnatovFedor commented on #1265
Hi @zjohn77 and @mosvlad,

There is an error in documentation: `load_trained=True` argument in `build_model` should be replaced with `download=True`.

[2020-07-06 21:24] IgnatovFedor commented on #1250
Hi @alissiawells,
I apologize for the very late reply, but could you clarify the specific commit you are using? I am puzzled that 2.69k is downloaded instead of 1.16M size of `paraphrizer.zip` size.

[2020-07-08 07:04] exelents opened #1270 "ERROR in 'deeppavlov.core.common.params'['params'] at line 112"
**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):
Name: deeppavlov
Version: 0.10.0

**Python version**:
Python 3.7.7

**Operating system** (ubuntu linux, windows, ...):
Arch linux

**Issue**:
When i try to run kbqa model I got an error:
https://pastebin.com/20d1YfJr
What's going on and how to overcome it?

**Content or a name of a configuration file**:
[code]

**Command

[2020-07-08 12:31] #1265 closed

[2020-07-08 17:47] dmitrijeuseew commented on #1270
The component RelRanker requires GPU because the model uses CudnnGRU, this bug will be fixed in the next release (optional usage of CudnnCompatibleGRU or CudnnGRU depending of whether the user uses GPU or not).

[2020-07-08 19:36] exelents commented on #1270
How much of GPU memory I need to run RelRanker? I have installed tf-gpu and it seems I got memory allocation error. I have only GeForce 940MX  with 2GB of memory.

[2020-07-08 20:24] exelents commented on #1270
Errors like that:
[code]

[2020-07-13 06:12] veeri opened #1271 "NER Model training with own Datasets"
I am trying to train **ner_ontonotes_bert** mode for NER with below code

[code]
[code]

for tourism chat bot
my Question is with existing ner_ontonotes_bert model, they used intent names like Person, Cardinal, Date manually in Code
If we want use DeepPalvol with Our Datasets like above, how we can do
can anyone suggest me please

[2020-07-13 08:29] IgnatovFedor opened #1272 "Add timestamps for words spoken in ASR"
Several times there was a request for getting timestamps of recognized tokens in ASR. Аt the moment, you have to change the source code for this. ASR module must be modified to receive timestamps without editing DeepPavlov source code.

[2020-07-13 10:20] #1250 closed

[2020-07-16 07:21] Barracuda72 commented on #732
To me this seems to be a major problem, as TensorFlow 1.x doesn't support Python 3.8+, and not going to:

https://github.com/tensorflow/tensorflow/issues/39768

So Py3.8 users (running Ubuntu 20.04, e.g.) can't use most (if any at all) of DeepPavlov models.
(And it's better to be straight dead than to mix different Python versions on one machine.)

[2020-07-16 08:31] veeri commented on #1271
@DeepPavlov  can you suggest something related to above issue

[2020-07-16 20:00] yurakuratov opened #1275 "DeepPavlov models in HuggingFace are uploaded without MLM head"
MLM head (and NSP head) are not in BERT checkpoint that were uploaded to  https://huggingface.co/DeepPavlov
Issue in Transformers repo:
https://github.com/huggingface/transformers/issues/5806

discussion in ODS: https://opendatascience.slack.com/archives/C04N3UMSL/p1586900942057100

[2020-07-17 09:32] kudep commented on #1244
Детерминировать представление (embeddings) ELMo для определенного предложения можно, если обнулять стейты lstm-ов после каждого шага (step), в архитектуре ELMo предусмотено так, что модель сама умеет (после train) обнулять стейты lstm-ов по спец. токену, но делает это не идеально из-за этого появляется отклонения. Обнулять стейты можно дописав обнуление после каждого предложения стейтов lstm, либо

[2020-07-23 13:33] mapryl opened #1280 "Вывод top_n ответов в odqa"
На данный момент не реализован вывод top_n ответов odqa (непосредственно в logit_ranker.py это отмечено комментарием TODO).
Для своих нужд мы это реализовали и хотели бы законтрибьютить, если это возможно :)

[2020-07-23 14:00] IgnatovFedor commented on #1280
Добрый день, @mapryl
С радостью добавили бы этот функционал в библиотеку. Вы не могли бы сделать PR?

[2020-07-24 09:07] theanhle commented on #1271
Hi @veeri,

There is no problem with training on a new dataset since the output tags are directly collected by reading through all the training file. This is done by using a preprocessing class named `simple_vocab`. Please check [the config file](https://github.com/deepmipt/DeepPavlov/blob/master/deeppavlov/configs/ner/ner_ontonotes_bert.json) for more details.

[2020-07-30 11:34] alexmosc opened #1286 "'illegal instruction' crash of python when trying to build a NER model"
I encounter 'illegal instruction' crash of python when trying to build a NER model.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):
0.11.0

**tensorflow version**
1.15.2

**Python version**:
3.6.8

**Operating system** (ubuntu linux, windows, ...):
centos 7

**Issue**:

Cannot finish building a NER model.

***Processor***

cpu family      : 6
model           : 37
mod

[2020-07-30 12:04] alexmosc commented on #1286
It seems I am having problems with Tensorflow:

`(env) [burnakov_a@infocore-backend02 ~]$ python
Python 3.6.8 (default, Apr  2 2020, 13:34:55)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-39)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Illegal instruction
(env) [burnakov_a@infocore-backend02 ~]$
`

[2020-08-03 10:05] alexmosc commented on #1286
I could successfully install tensorflow 1.15.2 and build a NER model after quite a lot of work. First I installed a .whl tensorflow compatible with my processor, and then built two libraries that were also outdated.

The issue can be closed.

[2020-08-03 14:41] VikasRajashekar opened #1288 "Code to train model from scratch"
I am trying to find code for paper: "Sequence Labeling Approach to the Task of
Sentence Boundary Detection". where is it located?

Also, where can find the code to train chatbot model from scratch in a different language?

[2020-08-04 06:09] innovative-roh commented on #1145
@yoptar
I used the Full tokenizer for bert with vocab file  cased_L-12_H-768_A-12/Vocab.txt but the NER output tokens and the tokens obtained  are a bit different.

[2020-08-05 19:30] SachinGarg10 opened #1289 "InvalidArgumentError error while building the KBQA model."
Hello Team,

I was trying to build the KBQA model using this 'kbqa_cq_online.json' file. But I'm getting this error:

	InvalidArgumentError: No OpKernel was registered to support Op 'CudnnRNNCanonicalToParams' used by node	question_encode/fw_0/cudnn_gru/cudnn_gru/CudnnRNNCanonicalToParams (defined at /home/saga/venvs/kb3.6/lib/python3.6/site-packages/tensorflow_core/python/framework/ops.py:1748) w

[2020-08-06 14:09] #1286 closed

[2020-08-06 14:10] alexmosc commented on #1286
It was related to tensorflow.

[2020-08-07 04:06] prshir opened #1291 "AttributeError: 'NoneType' object has no attribute 'form' в kbqa_cb_rus"
Запускаю модель kbqa для русского языка

[code]

Один вопрос (а именно "на каком месте Россия по площади территории?") из ~50 проверенных приводит к ошибке:

[code]

[2020-08-08 11:54] dmitrijeuseew commented on #1291
Thank you for this issue, the bug will be fixed in the next release.

[2020-08-10 04:43] jinfagang opened #1295 "Chinese support?"
will it consider support Chinese?

[2020-08-14 15:43] Stedag opened #1299 "No module named bert_dp"
**DeepPavlov version** : 0.12.0

**Python version**: 3.8.2

**Operating system** : windows 10

**Issue**:
 ...
ModuleNotFoundError: No module named 'bert_dp'
...

**Content or a name of a configuration file**:
[code]

**Command that led to error**:
I tried the recommended demo code from articles and tutorials. I have tried several other NER configs and also tried a colab environment and got the sa

[2020-08-14 15:57] yurakuratov commented on #1299
Hi!

You need to install requirements by running `python -m deeppavlov install config_name`
http://docs.deeppavlov.ai/en/master/intro/quick_start.html

[2020-08-14 23:37] Stedag commented on #1299
Aha! Thank you.

[2020-08-14 23:37] #1299 closed

[2020-08-18 08:04] raikarsagar opened #1300 "wakeword detection module"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]

[2020-08-18 08:07] danielkornev commented on #1300
Sounds quite interesting. Do you use NeMo for ASR?

[2020-08-18 08:39] raikarsagar commented on #1300
Have used it a bit for demos

[2020-08-18 09:04] danielkornev commented on #1300
Huh. Do I understand you correctly that you think of contributing a custom wake word detection module to DeepPavlov? :)

[2020-08-18 09:21] raikarsagar commented on #1300
Firstly wanted to know whether there are any current developments running towards wake word feature?

[2020-08-20 10:14] danielkornev commented on #1300
Not right now. If you want to contribute yours, we'd be very grateful!

[2020-08-24 12:36] #1280 closed

[2020-08-25 10:54] inksong opened #1305 "Use TFLMSV to solve OOM Error."
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]

[2020-08-27 09:06] IgnatovFedor commented on #426
Закрываем в связи с [разблокировкой](https://rkn.gov.ru/news/rsoc/news73050.htm) Телеграмма

[2020-08-27 09:39] yurakuratov opened #1306 "add lambda function support in config files e.g., lr_lambda argument for torch optimizer schedulers"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
[code]
`lr_lambda` is treated like python string

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]

[2020-08-27 13:54] danielkornev opened #1307 "Define a way to improve NER installation through adding new cases and retraining it"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]

[2020-09-02 15:54] acriptis commented on #1307
I suppose a good NER Service should cover the following use cases through web interface:
1. Annotate requests with NER entites (as any NER tool must do) via REST API
2. Allow Admins to view log of requests for annotation and produced results
3. Allow Admins to add new training cases into the dataset (which will fine-tune NER model instantly or via button).

It seems to be a quite simple web app.

[2020-09-03 08:59] mapryl opened #1310 "Неоднозначный вывод ответа FAQ"
Показалось неоднозначным поведение модели при различных конфигах faq.
В некоторых случаях модель выдает ответ/его score, в других ответ/не отсортированный score **всех** возможных вариантов ответов.

Хотели бы это поправить, если вы не против :)

[2020-09-03 09:00] danielkornev commented on #1310
всеми руками за :))

[2020-09-04 09:45] yurakuratov commented on #701
This issue leads to unexpected behaviour when "f1" metric is used in binary case, by default it computes f1 for class with label 1.
Vocabulary sets to each label its ids. It is done by internal vocabulary logic -> user does not know for which class f1 is computed.

[2020-09-07 12:45] yurakuratov opened #1312 "TorchBertClassifier does not use token_type_ids"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**Issue**:
TorchBertClassifier does not use token_type_ids in [call](https://github.com/deepmipt/DeepPavlov/blob/master/deeppavlov/models/torch_bert/to

[2020-09-10 15:08] cattoni opened #1315 "multi-threading in NER model ?"
Sorry for the naive question, I am a newbie of DeepPavlov.

Is a NER model built with build_model multi-threaded (e.g. build_model(configs.ner.ner_ontonotes_bert_mult) ) or is there any parameter/arg to set to have multi-threading?

Thanks for your kind support!

[2020-09-10 15:30] moryshka commented on #1315
Hi @cattoni
Please, ask this question in [our forum ](https://forum.deeppavlov.ai).
Use issues only to enhance library components or error reports.
Thank you!

[2020-09-10 15:30] #1315 closed

[2020-09-14 07:58] x0rzkov opened #1317 "multi-label classification / paperswithcode dataset"
Hi guys,

Hope you are all well !

I was wondering if **DeepPavlov** can handle multi-label classification with 1560 labels.

More precisely, I would like to apply it to paperswithcode dataset where `labels` are called `tasks`.

Refs:
- [Repository](https://github.com/paperswithcode/paperswithcode-data)
- [Dataset](https://paperswithcode.com/media/about/papers-with-abstracts.json.gz)

Thanks for a

[2020-09-20 17:40] Harish202 opened #1319 "Loading Bert Different Models"
Hi, First of all thank you for the great repo. My issue is loading uncased bert model for ner_conll2003_bert for ner task.. I have modified the config accordingly.

  "metadata": {
    "variables": {
      "ROOT_PATH": "~/.deeppavlov",
      "DOWNLOADS_PATH": "{ROOT_PATH}/downloads",
      "MODELS_PATH": "{ROOT_PATH}/models",
      "BERT_PATH": "{DOWNLOADS_PATH}/bert_models/uncased_L-12_H-768_A-12

[2020-09-20 18:15] mu-arkhipov commented on #1319
Hi,
It seems that the part below loads the fine-tuned cased BERT. Just remove it, than either remove already downloaded files from `MODELS_PATH` or change `load_path` in `"bert_sequence_tagger"` part of the config.
[code]

[2020-09-21 08:58] Harish202 commented on #1319
Thank you for quick response. I have done changes as you mentioned. Now the model is able to build but when I am trying to do NER it is throwing bellow error:

Config:

  "metadata": {
    "variables": {
      "ROOT_PATH": "~/.deeppavlov",
      "DOWNLOADS_PATH": "{ROOT_PATH}/downloads",
      "MODELS_PATH": "{ROOT_PATH}/models",
      "BERT_PATH": "{DOWNLOADS_PATH}/bert_models/uncased_L-12_H-768_

[2020-09-21 11:14] mu-arkhipov commented on #1319
This error is due to empty tag dictionary, which in turn is due to untrained model. Use `model = train_model(<config_path>, download=True)` command to train it.

[2020-09-21 13:47] SnigdhaBiswas opened #1320 "Query prediction in KBQA"
Hi,

I want to train the model on my own dataset for query prediction. Is there a way that can be done?

Also, from where can I get the query templates of the existing 8 labels and add new templates to it?

[2020-09-30 09:43] moryshka opened #1321 "👩‍💻📞 DeepPavlov Community Call #1"
**Update**: [DeepPavlov Community Call #1 Recording](https://www.youtube.com/watch?v=hbqvOp_SzM4&feature=youtu.be)
Subscribe for future calls here (**last Thursday of the month**, 8am Pacific/6pm MSK):
https://bit.ly/MonthlyDPCommunityCall
____________________________________________________________________________

Dear DeepPavlov contributors and users,

As promised in our “[It All Started With

[2020-10-01 13:45] mu-arkhipov commented on #1319
I close this issue treating it as solved. Feel free to open it again in case of questions.

[2020-10-01 13:45] #1319 closed

[2020-10-05 21:06] oserikov opened #1322 "DeepPavlov installed from wrong branch in RASA config tutorial"
see `!pip install git+https://github.com/deepmipt/DeepPavlov.git@feature/gobot-md-yaml-config
` [here](https://github.com/deepmipt/DeepPavlov/blob/master/examples/gobot_md_yaml_configs_tutorial.ipynb)

[2020-10-06 13:47] AsbjornOlling commented on #1202
I suggest that you remove the tutorial from [this page](https://github.com/deepmipt/dp_notebooks)

It's not very welcoming to newcomers like me, that the very first tutorial in the "For beginners: Tutorials" section is totally broken. :(

[2020-10-07 08:38] duongkstn opened #1324 "Bad requirement file"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):

**Python version**: 3.7.6

**Operating system** (ubuntu linux, windows,

[2020-10-08 14:35] kshurik commented on #375
@vitalyuf Hi. Did you find pre-trained embeddings for Russian language in .txt format?

[2020-10-08 14:46] IgnatovFedor commented on #1324
Hi, @duongkstn
We prefer `==` in requirements to `>=` because of possible errors when a new version of dependencies is released. What errors can be caused by using double equals?

[2020-10-09 21:34] ftyers commented on #1321
I'd like to hear about chatbots for the non-Russian languages of Russia (e.g. Chuvash, Tatar, Udmurt, Komi, Avar, ...) ! I'm also interested in neural/linguistic/dialogue representations for polysynthetic languages like Chukchi and Nahuatl.

[2020-10-10 13:58] kuraga opened #1329 "pymorphy2 0.9.1 is released"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:

Current `pymorphy2` requirement [is obsolete](https://github.com/deepmipt/DeepPavlov/blob/0.12.1/requirements.txt#L11) in DeepPavlov.
`pymorphy2 0.9.1` [was released](https://github.com/kmike/pymorphy2/r

[2020-10-10 18:31] tanmaylaud commented on #1321
Hi , could you please provide a recurring meeting invite? Thankss !!

[2020-10-10 21:23] danielkornev commented on #1321
Yep, we will share a link in the upcoming blogpost!) stay tuned!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tanmay Laud <notifications@github.com>
Sent: Saturday, October 10, 2020 9:31:33 PM
To: deepmipt/DeepPavlov <DeepPavlov@noreply.github.com>
Cc: Daniel Kornev <daniel@zetuniverse.com>; Assign <assign@noreply.github.com>
Subject: Re: [deepmipt/DeepPa

[2020-10-11 18:52] Sharathmk99 commented on #1320
@SnigdhaBiswas Did you figure out how to use your own dataset?

[2020-10-12 21:05] Rajmehta123 opened #1330 "Parameter to enable nltk tokenizer"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]

[2020-10-13 07:27] danielkornev commented on #1321
We've shared the link to recording & link to regular monthly calls in this issue's description

[2020-10-14 10:47] polodealvarado commented on #1036
Hi!

Could it be possible to add a sentence splitting method into the pipeline of the config file to solve it?

[2020-10-14 11:09] mu-arkhipov commented on #1036
Hi,
It would be convenient to search and track if there will be a separate issue for this feature request. @polodealvarado please make one.

[2020-10-14 11:33] polodealvarado opened #1333 "How to include a sentence splitting method into the pipeline of config file ?"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
[code]

**Possible solution?

[code]

[2020-10-14 11:34] polodealvarado commented on #1036
Perfect, I'll do it.

[2020-10-14 11:53] #1036 closed

[2020-10-14 12:19] polodealvarado opened #1334 "Improve config file documentation"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]

[2020-10-20 13:52] #1330 closed

[2020-10-22 08:03] moryshka opened #1335 "👩‍💻📞 DeepPavlov Community Call #2"
Subscribe for future calls here (last Thursday of the month, 8am Pacific/6pm MSK):
https://bit.ly/MonthlyDPCommunityCall

Dear DeepPavlov contributors and users,

Last week we started our new tradition - Community Calls. We are planning to host a Regular Monthly DeepPavlov Community Call and we’d like to invite you to suggest topics and call in! In case you missed the first one, we’ve uploaded a r

[2020-10-22 08:03] #1321 closed

[2020-10-22 19:37] sagarmk opened #1336 "NER on custom train.txt keeps failing"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.
This is what I am doing a simple ner training on custom data

[code]

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):
Vers

[2020-11-02 18:34] #1324 closed

[2020-11-05 18:33] oserikov opened #1338 "404 in the docs"
Our docs contain 404 links for nemo tutorials [here](http://docs.deeppavlov.ai/en/master/features/models/nemo.html) below in the model training section

[2020-11-11 08:31] andreabrduque commented on #732
Are there any updates on this issue?

[2020-11-13 11:16] #1312 closed

[2020-11-13 22:49] Rajmehta123 opened #1341 "Upgrading Tensorflow to 1.15.4 in tf.txt"
**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]
**Any important aspect to consider?**:
[code]

[2020-11-13 22:53] Rajmehta123 commented on #1307
I agree. The 3rd point seems to be interesting. But, we cant expect the model to fine-tune in real-time. Did you mean transfer learning where we transfer the weights of the new data to the existing trained model?

[2020-11-16 07:15] Yangxiaojun1230 opened #1342 "python -m deeppavlov install ner_ontonotes_bert with --proxy"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:

[code]

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]

[2020-11-16 07:39] danielkornev commented on #1341
Idea is cool and good. We have some plans to make TF upgrades down the road for the next year, but not as fast as you might think. However, if you think you could try to work on some of this stuff, well, we'd be thrilled to help!

[2020-11-16 09:04] Bharat9280 opened #1343 "unable to load trained model on custom dataset"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):

**Python version**:

**Operating system** (ubuntu linux, windows, ...):

[2020-11-16 14:15] Rajmehta123 commented on #1341
Yes. I can surely contribute. I will upgrade it to TensorFlow 1.15.4 and check for any compatibility issue. Most likely, there won't be an issue with .4 version. I Will update soon.

[2020-11-16 14:18] danielkornev commented on #1341
Sounds fantastic! @ignatov.fedor@gmail.com<mailto:ignatov.fedor@gmail.com> join the discussion if needed! )

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Rajmehta123<mailto:notifications@github.com>
Sent: Monday, November 16, 2020 5:15 PM
To: deepmipt/DeepPavlov<mailto:DeepPavlov@noreply.github.com>
Cc: Daniel Kornev<mailto:daniel@zetuniverse.com>; Comment<m

[2020-11-16 19:30] tutubalinaev opened #1344 "Can't load the coreference model"
Could you please help with coreference model loading?

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):
Name: deeppavlov
Version: 0.13.0
Summary: An open source library for building end-to-end dialog systems and training chatbots.
Home-page: https://github.com/deepmipt/DeepPavlov
Author: Neural Networks and Deep Learning lab, MIPT
Author-email: info@deeppavlov.ai
Licen

[2020-11-16 20:21] theanhle commented on #1344
You need to run setup_all.sh to create the coref_kernels.so file.

[2020-11-17 10:05] tutubalinaev commented on #1344
@theanhle where I can find setup_all.sh? I don't see this script in this repository

[2020-11-17 11:33] theanhle commented on #1344
Oops! This is an incomplete branch and wasn't merged into the master branch. This model was reproduced from [Kenton Lee's model](https://github.com/kentonl/e2e-coref). So, you could find `setup_all.sh` in the original model.

[2020-11-17 21:50] WilliamTambellini opened #1345 "NER : ModuleNotFoundError: No module named 'bert_dp'"
Please enter all the information below, otherwise your issue may be closed without a warning.

[code]

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):
[code]

**Python version**: 3.7

**Operating system** (ubuntu linux, windows, ...): ubuntu16

**Issue**:
ModuleNotFoundError: No module named 'bert_dp'

**Command that led to error**:
[code]

[2020-11-17 21:53] WilliamTambellini commented on #1345
https://github.com/deepmipt/DeepPavlov/blob/b4dc56a3bf337007f9fb15fd47f6b57d21911ddf/deeppavlov/models/preprocessors/bert_preprocessor.py#L19
the install guide does not refer to any bert_dp package, just
pip install deeppavlov

[2020-11-18 04:31] Rajmehta123 opened #1346 "Paraphrase giving incorrect results after following the example"
### Apology for the image magnification. Couldn't scale down the image/screenshot/output.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):
_0.12.1_

**Python version**:
_Python 3.7.0_

**Operating system** (ubuntu linux, windows, ...):
Linux

**Issue**:
Downloaded the _Quora question pairs dataset_ example by downloading the pretrained model file. https://deeppavlov.r

[2020-11-18 10:05] yurakuratov commented on #1345
Hi!

Did you run `python -m deeppavlov install ner_ontonotes_bert_mult` (from [quick start guide](http://docs.deeppavlov.ai/en/master/intro/quick_start.html))?
You can also check similar issue: https://github.com/deepmipt/DeepPavlov/issues/808#issuecomment-484113024

[2020-11-18 10:12] yurakuratov commented on #1346
Hi!

On [this](https://deeppavlov.readthedocs.io/en/master/features/overview.html#ranking-model-docs) page you can find evaluation results for the model trained on QQP dataset. The model is not perfect (like any ML model) and has about ~87% accuracy on test set.

https://deeppavlov.readthedocs.io/en/master/features/overview.html#ranking-model-docs

[2020-11-18 10:40] yurakuratov commented on #1343
Hi!

It looks like `tf.train.checkpoint_exists(load_path)` returns `False` in your case, could you check it? The possible reason is that checkpoint is saved in format that is not supported by `tf.train.checkpoint_exists`.

[2020-11-18 14:37] Rajmehta123 commented on #1346
But will it give different results on the same pair of sentences? Like the example on this page, https://deeppavlov.readthedocs.io/en/master/features/models/neural_ranking.html for the same sentence pair, it says 'This is paraphrase'

[2020-11-18 18:23] emaximen opened #1347 "проблема при выполнении build_model(configs.ner.ner_collection3_m1, download=True)"
Добрый день

вот что получаю при выполнении указанной выше build_model. Другие build работают нормально. Это баг или фича )) ?

спасибо.
Евгений

model.load_binary_data(encoding=encoding)
  File "/usr/local/lib64/python3.6/site-packages/gensim/models/deprecated/fasttext_wrapper.py", line 299, in load_binary_data
    with open(self.file_name, 'rb') as f:
FileNotFoundError: [Errno 2] No such file or

[2020-11-18 18:54] yurakuratov commented on #1347
Hi!

Thanks for pointing out to this problem, we will fix this configuration file in future releases.
For now, you can change `word_emb_path` to `{DOWNLOADS_PATH}/embeddings/lenta_lower_100.bin`.

[2020-11-18 19:23] emaximen commented on #1347
Спасибо

Отправлено с iPhone

[2020-11-19 01:34] WilliamTambellini commented on #1345
ok sorry, did nt see that one from the github readme. Thanks.

[2020-11-19 01:34] #1345 closed

[2020-11-20 12:52] #1335 closed

[2020-11-20 12:53] moryshka opened #1349 "👩‍💻📞 DeepPavlov Community Call #3"
Dear DeepPavlov community,

The online DeepPavlov Community Call returns on November 26th!  We’d like to invite you to suggest topics and call in! In case you’ve missed the last one, we’ve uploaded a record - [see the playlist](https://www.youtube.com/playlist?list=PLt1IfGj6-_-ev9BsM38sXyQ-_ODqsNvIl). Check it out!

**DeepPavlov Community Call #3 (November 26)**

**We’ll hold the third one on Thur

[2020-11-20 15:09] brandonra97 commented on #848
Um this was never resolved? Why was it closed?

[2020-11-23 05:14] tutubalinaev commented on #1344
@theanhle I found a script build_op.sh in the model's folder, so I used it. Now the model is loaded successfully, yet there is an error with the prediction.  Any ideas?

Python code:
import json
from deeppavlov import build_model

file_name = "coref_example.txt"
with open(file_name, "r", encoding='utf8') as f:
    x = f.read()

PIPELINE_CONFIG_PATH = 'deeppavlov/configs/coreference_resolution/old_

[2020-11-23 07:51] yurakuratov commented on #1344
Hi!

Could you try to use `old_model_full_interact.json` config file instead? It takes text as input.

[2020-11-23 09:36] tutubalinaev commented on #1344
Hi @yurakuratov! Coref_example.txt is not text, it is a conll file. With old_model_full_interact.json, I have a mismatch between the current graph and the graph from the checkpoint. Ideas?

Command:
CUDA_VISIBLE_DEVICES=1 python -m deeppavlov interact deeppavlov/configs/coreference_resolution/old_model_full_interact.json

Log:
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]

[2020-11-23 10:14] yurakuratov commented on #1344
Looks like config files miss characters vocabulary. You need to add
[code]
to download section in configuration file and re-run `python -m deeppavlov interact ... -d` with `-d` flag for downloading.
Eventually, it should also fix the same problem with `old_model_full.json`.

[2020-11-23 11:54] tutubalinaev commented on #1344
@yurakuratov thank you, It fixed the loading error. Could you please point to output format documentation? I can't figure out that is [((0, 0), (8, 8))] in my example:

LANG=C.UTF-8 LC_ALL=C.UTF-8 CUDA_VISIBLE_DEVICES=1 python -m deeppavlov interact deeppavlov/configs/coreference_resolution/old_model_full_interact.json
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Packa

[2020-11-23 17:49] yurakuratov commented on #1344
`[((0, 0), (8, 8))]` means that there is single coreference chain `((0, 0), (8, 8))` with two mentions `(0, 0)` and `(8, 8)`. Each mention is described by position of the first and the last token of the mention.
[code]
`ru_sent_tokenizer` is used for sentence tokenization and `nltk_tokenizer` for tokenization. You can add `tokenized_sentences` to chainer's `out` to get tokenized text.

[2020-11-26 08:44] puleon commented on #1346
Hi!
Thank you for pointing us to this problem. We will fix it in the future release.

[2020-11-27 09:43] puleon commented on #1346
The model weights were corrupted. Please remove the folder `{MODELS_PATH}` with the old model. Typically, it is  `~/.deeppavlov/models/` folder. After that, download the model with new weights with the code line `para_model = build_model(configs.ranking.paraphrase_ident_qqp_interact, download=True)`. Everything should be fine. I close this issue.

[2020-11-27 09:43] #1346 closed

[2020-11-30 16:35] ravishpankar opened #1353 "Error while trying to get the probablities of the predicted entities using ontonotes_bert ner model"
Deeppavlov version: 0.12.1
Python version: 3.7.7
"return_probas"set to true in ner_ontonotes_bert config json
Command: python -m deeppavlov interact F:\miniconda3\envs\ute_query_params_service\Lib\site-packages\deeppavlov\configs\ner\ner_ontonotes_bert.js
Command string: London is in England.
**Full Traceback:**
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\User\AppData\Roaming

[2020-12-02 18:04] andreybondarb opened #1354 "Train the Deeppavlov NER BERT model without O tags"
Is it even possible to train Deeppavlov NER BERT without O tags?  I have a decent list of Persons, LOCs and ORGs, so I want to train the model using them. What will be if I pass those without O tags?

[2020-12-02 21:41] vcjob opened #1355 "TypeError: rsub() received an invalid combination of arguments - got (Tensor, str), but expected one of:"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`): 0.13.0

**Python version**: 3.6.9

**Operating system** (ubuntu linux, wi

[2020-12-05 18:02] #1354 closed

[2020-12-06 08:52] andreybondarb commented on #1336
I have exactly the same issue.

[2020-12-07 12:10] yurakuratov commented on #1353
Hi!

You also need to remove [the last component](https://github.com/deepmipt/DeepPavlov/blob/c10b079b972493220c82a643d47d718d5358c7f4/deeppavlov/configs/ner/ner_ontonotes_bert.json#L61-L65) from pipe, which converts label indices to actual labels.
[code]
and change [chainer out section](https://github.com/deepmipt/DeepPavlov/blob/c10b079b972493220c82a643d47d718d5358c7f4/deeppavlov/configs/ner/ner

[2020-12-07 12:23] yurakuratov commented on #1355
Hi!

DeepPavlov requires torch 1.6.0: https://github.com/deepmipt/DeepPavlov/blob/master/deeppavlov/requirements/pytorch.txt#L1

All needed requirements for a specific model could be installed with
[code]

Does changing torch version work for you?

[2020-12-08 18:12] andreybondarb commented on #1343
It seems like you didnt change anything in your config inplace. Try this one:

with open(configs.classifiers.insults_kaggle_bert, 'r+') as f:
    ner_config = json.load(f)
    ner_config['chainer']['pipe'][3]['save_path']='/home/bharat/ensemble_bert_model/mymodel.dict'
    ner_config['chainer']['pipe'][3]['load_path']='/home/bharat/ensemble_bert_model/mymodel.dict'

    f.seek(0)
    json.dump(ner

[2020-12-09 06:27] oserikov opened #1356 "GloveEmbedder fails when no header row present in embeddings file"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`): 0.13

**Python version**: 3.8

**Operating system** (ubuntu linux, window

[2020-12-10 08:23] vcjob commented on #1355
Thank you! It does work now!

[2020-12-10 08:23] #1355 closed

[2020-12-10 17:53] ravishpankar commented on #1353
@yurakuratov, Hi! Thank you for answering. It helps. I would like to get the labels and probabilities in one go. The model is loaded in a python microservice and I can't change the config everytime for label and probabilities.
This is offtopic but I would like to talk to you about how to improve my ner task over whatsapp. I'm not able to do a specific task in spacy and I need your advice. Could yo

[2020-12-10 18:13] ravishpankar commented on #1353
@yurakuratov, one more request. Is it possible to annotate using span start and span end of an entity in a sentence instead of bio tagging? I'm going to train this model with additional dataset.

[2020-12-11 13:49] moryshka commented on #1341
@Rajmehta123 Hey )
Was wondering you've had any luck with trying to do this updating?

[2020-12-11 16:04] Rajmehta123 commented on #1341
@moryshka Hey. Yes, I have tested on a few use cases and they don't create any problems. Looking at what TF has changed in 1.15.4, there is nothing with syntax or functionality. The release is for the fixes for bugs.

Fixes an undefined behavior causing a segfault in tf.raw_ops.Switch (CVE-2020-15190)
Fixes three vulnerabilities in conversion to DLPack format (CVE-2020-15191, CVE-2020-15192, CVE-2

[2020-12-11 19:28] danielkornev commented on #1341
So, this means we can migrate the whole thing to  1.15.4?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Rajmehta123 <notifications@github.com>
Sent: Friday, December 11, 2020 7:04:54 PM
To: deepmipt/DeepPavlov <DeepPavlov@noreply.github.com>
Cc: Daniel Kornev <daniel@zetuniverse.com>; Comment <comment@noreply.github.com>
Subject: Re: [deepmipt/DeepPavlov]

[2020-12-14 11:14] yurakuratov commented on #1353
Hi!

You could create a custom configuration file which will could return `x_tokens`,  `y_pred` and `y_pred_ind`. Add `proba2labels` component ([example](https://github.com/deepmipt/DeepPavlov/blob/master/deeppavlov/configs/classifiers/glue/glue_rte_cased_bert_torch.json#L62-L66)) to get `y_pred` from `y_pred_ind`.

You are welcome to ask a question on forum https://forum.deeppavlov.ai/ .

It will

[2020-12-14 14:54] #1349 closed

[2020-12-14 15:17] moryshka opened #1358 "👩‍💻📞 DeepPavlov Community Call #4"
[http://bit.ly/MonthlyDPCommunityCall2021](http://bit.ly/MonthlyDPCommunityCall2021)

Dear DeepPavlov community,

The online DeepPavlov Community Call is scheduled for December 24th! This is the last call this year, yet it is the first one to feature external speakers. We're super excited, and we can't wait to reconnect again!
As always, you are welcome to suggest topics and call in!

**DeepPavlov

[2020-12-14 19:15] Rmsharks4 commented on #1084
What is the TF Version for Non-GPUs? Also as a suggestion while your shifting to TF2.0, you can update your requirements.txt so that older packages may get automatically downgraded.

[2020-12-15 06:08] rupamojha opened #1359 "Tensorflow 2.4.0 support"
**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]

[2020-12-15 08:34] #1347 closed

[2020-12-15 09:08] danielkornev commented on #1359
Hi! Idea is great, and it is on our list. However, given the wide number of available models, we plan to re-factor the library based on the model's popularity, and then we'll work on migration to 2.0. :)

If you want to contribute let us know!

[2020-12-15 09:09] danielkornev commented on #1341
@IgnatovFedor

[2020-12-17 13:39] ravishpankar commented on #1353
@yurakuratov, Thank you. Ok. This doubt may be silly; do I need two models to be loaded for two configs (one for labels and the other for probabilities)? Models are huge btw. I don't want two models to be loaded in my python microservice. If I build the model with two configs, will there be two copies of the model?

[2020-12-17 15:05] yurakuratov commented on #1353
There is no need in two models running to get and labels and probabilities, just modify original config as was mentioned in previous comment.

And yes, if you build two models with two configs there will be two copies running and use double resources.

[2020-12-21 06:50] ravishpankar commented on #1353
@yurakuratov, Thank you. I understand. Is it possible to train the ner ontonotes bert model incrementally? The idea is I will use the model to predict for some sentences and I will annotate its predictions along with the entities missed(required by me which are deeppavlov predefined entitytypes) and train the model only with those sentences on top of pretrained model.

[2020-12-21 08:11] ravishpankar commented on #1353
@yurakuratov , if I train incrementally like I said before, how can I distribute the model to some clients?

[2020-12-22 14:40] oserikov opened #1362 "Classifier Classes do not have unified interfaces"
.classes напр у бертклассифаера

BertClassifier and KerasClassifier do not share the list of public fields. (e.g. `.classes` field of classifier)

[2020-12-22 14:44] oserikov opened #1363 "weighted loss example"

[2020-12-26 21:31] Artyrm opened #1366 "In ODQA there is a warning that ranker don't get tfidf_doc_ids"
The answer that it produces is right, but then I guess the warning is wrong?

**DeepPavlov version**: 0.14.0
**Python version**: 3.6.9
**Operating system**: Ubuntu 18.04.5 LTS
**Issue**: WARNING in 'deeppavlov.models.doc_retrieval.logit_ranker'['logit_ranker'] at line 74: you didn't pass tfidf_doc_ids as input in logit_ranker config so batch_best_answers_doc_ids can't be compute
**Content or a nam

[2021-01-02 05:55] martian-coder commented on #331
Run
`
from deeppavlov.deprecated.skills.pattern_matching_skill import PatternMatchingSkill
`

[2021-01-12 11:13] danielkornev opened #1367 "Review analytics and prepare list of all models that we want to support or deprecate"
Moved to internal Trello

[2021-01-12 11:14] danielkornev opened #1368 "Documentation: Analyze, suggest refactoring, templates"
Moved to internal Trello

[2021-01-12 11:15] danielkornev opened #1369 "Documentation: show examples of good docs"
# Tasks
* [x] Review existing criterias for documentation
* [x] Suggest own criterias
* [x] Show good examples and explain why

[2021-01-12 11:17] danielkornev opened #1370 "Configs: Requirements - analyze problems w/ requirements, suggest ideas how to improve work with requirements"
Moved to internal Trello

[2021-01-12 11:19] danielkornev opened #1371 "File Share: Versioning for Models"
# Problems
* We don't know what each particular file is for (because of lack of naming conventions & controlled versioning)
* Lack of access control

# Requirements
* files should be controlled by versions
* file names should conform to naming conventions
* access control should be enforced
* S3 API support

# Proposed Solutions
## Work on top of the existing file share (CEPH)
### Pros
* simple an

[2021-01-12 11:19] danielkornev opened #1372 "Go-Bot: migrate to PyTorch (policy)"
Moved to internal Trello

[2021-01-12 11:21] danielkornev opened #1373 "Models: Migrate NER to PyTorch"

[2021-01-12 11:22] danielkornev opened #1374 "Models: Migrate SQuAD to PyTorch"

[2021-01-12 11:23] danielkornev opened #1375 "Framework: Analyze and prepare list of things we can replace by functionality from external libraries"
Moved to internal Trello

[2021-01-12 13:02] yurakuratov commented on #1353
@ravishpankar Sorry for the delay.

Yes, it could be done, but maybe just extending training dataset with new examples will work better. If you will have only few sentences to train on model can overfit easily.

You can change the link to trained model in configuration file (section download) to newer model and distribute new configuration files. Another way, if it works to you, just replace downl

[2021-01-12 13:56] danielkornev opened #1376 "Go-Bot: Add built-in support for date-time parser as slot filler for date slots written in RASA config files"
Moved to internal Trello

[2021-01-13 06:49] ravishpankar commented on #1353
@yurakuratov , Where will I get the training data set in bio format for ontonotes bert ner model? Are there anymore additional files like weights file required? How long will it take to train the model with the base dataset and additional sentences which will be few thousands utmost? I'm using a i5 dual processor, windows 10 os system with 8GB RAM. Is there anyway to terminate the training in betw

[2021-01-13 06:52] ravishpankar commented on #1353
@yurakuratov, Thank you for your answers to my questions before the last bunch.

[2021-01-13 11:53] yurakuratov commented on #1353
Training dataset will be downloaded automatically to https://github.com/deepmipt/DeepPavlov/blob/f9af2fa3f9f425e715aae647b57637406fc7145e/deeppavlov/configs/ner/ner_ontonotes_bert.json#L4 folder if you will start training (`python -m deeppavlov train ...`) or evaluating (`python -m deeppavlov evaluate ...`) the model.
Another way is to download the data manually from https://github.com/deepmipt/De

[2021-01-15 05:10] ravishpankar commented on #1353
@yurakuratov, thank you very much for your answers.  Please tell me how long will training take on a GPU? What do you mean by overfit just in case I train incrementally?

[2021-01-18 08:54] max-frai opened #1377 "NER model hangs"
Hello, I run model like this:

`python3 -m deeppavlov riseapi ner_ontonotes_bert_mult -p 5000`

Server has 64gb ram and cpu `i7-8700 CPU @ 3.20GHz`. We send requests to api every 2-3 seconds, it works and responds for 50-200 requests and after this server hangs and only reboot can restore it. The same problem with docker container.

[2021-01-18 09:49] yurakuratov commented on #1371
https://min.io/

[2021-01-18 13:40] oserikov commented on #1369
me, i really love the minimalism of requests and beautifulsoup docs
th

[2021-01-19 05:26] ravishpankar commented on #1353
@yurakuratov, my config.json file looks different. I will attach the file here and you may make the necessary changes and upload it here with description of the changes. Of course, this is for getting the entity tokens and probabilities. Please help.
This is my ner_ontonotes_bert config.json:
{
  "dataset_reader": {
    "class_name": "conll2003_reader",
    "data_path": "{DOWNLOADS_PATH}/ontonotes

[2021-01-19 07:15] danielkornev commented on #1369
# Conversational AI Libraries & Services

| Project Name                   | Project Type                    | Docs Link                                                    | Concepts | How-Do-I | Bot Examples | Context Management | Versioning & Publishing                                  | Integration | Security | Programming Languages         | Pros                                          | Cons

[2021-01-19 14:57] oserikov opened #1378 "Go-Bot: provide an example of using the go-bot as a framework easily inheriting and implementing custom intents classificators and slotfillers"

[2021-01-19 15:08] danielkornev commented on #1369
# General NLP Libraries & Services

| Project Name                 | Project Type | Docs Link                                                | Concepts | How-Do-I | General Models | Domain-Specific Models | Configs | Versioning | High Performance (GPU, CPU) | Globalization                            | Programming Languages | Pros | Cons | Rating (5-max) |
| ---------------------------- | ---------

[2021-01-19 15:30] danielkornev commented on #1370
@IgnatovFedor please record your two ideas to this list

[2021-01-19 15:32] oserikov commented on #1371
there also exists openstack swift: https://wiki.openstack.org/wiki/Swift

[2021-01-19 15:33] danielkornev opened #1379 "Configs"
Moved to internal Trello

[2021-01-19 15:37] danielkornev opened #1380 "Models & Code Integration, Maintenance, and Deprecation Policy"
# Problems
* Many models are very rarely used but require support (and testing during build process)
* Some models no longer have owners

# Integration
* tests etc.
* (about papers) <-- upd: we don't publish research-only models into DP Library but only good production-quality code

# Maintenance
* Each currently integrated component should have an active owner w/ responsibilities (e.g., maintain

[2021-01-20 16:38] #1336 closed

[2021-01-21 12:08] moryshka opened #1381 "👩‍💻📞 DeepPavlov Community Call #5"
Dear DeepPavlov community,

The online DeepPavlov Community Call is scheduled for January 28th!
This is the first call in 2021, and it will be all about our plans for DeepPavlov Library Refactoring Project. It is a big project for us, and we can’t wait to share our news and hear your thoughts.
As always, you are welcome to suggest topics and call in!

**DeepPavlov Community Call #5 (January 28, 20

[2021-01-21 12:08] #1358 closed

[2021-01-21 23:46] Rajmehta123 opened #1382 "SQUAD logits to probabilities"
A very basic question.

What is the logit score in the Squad pre-trained model? `[158.80136108398438]`

![image](https://user-images.githubusercontent.com/22636443/105425626-58dbd980-5c0f-11eb-8f33-ad2028a39af3.png)

I know logit is a log of the odds. But how should I convert logits to probabilities? If that is not possible, how can I infer the logit to decide if this is an accurate answer, eg: 15

[2021-01-22 01:23] Rajmehta123 commented on #1341
@danielkornev @IgnatovFedor Any update on the upgrade?

[2021-01-22 05:31] danielkornev commented on #1341
We shipped it in 0.14.

[2021-01-22 19:19] Rajmehta123 commented on #1341
Yes just realized. Thanks

[2021-01-22 19:19] #1341 closed

[2021-01-22 19:30] danielkornev commented on #1341
Oh, thank you! Your help was instrumental in driving this update!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Rajmehta123 <notifications@github.com>
Sent: Friday, January 22, 2021 10:19:50 PM
To: deepmipt/DeepPavlov <DeepPavlov@noreply.github.com>
Cc: Daniel Kornev <daniel@zetuniverse.com>; Mention <mention@noreply.github.com>
Subject: Re: [deepmipt/Deep

[2021-01-24 11:32] ayeffkay opened #1383 "Error when initializing FileWriter (deprecated usage)"
Please, update these lines for train and validation FileWriter (or make it compatible with tf 2):
https://github.com/deepmipt/DeepPavlov/blob/b66179e584d3eb6da73c5731ba7b732dab7e94bd/deeppavlov/core/trainers/nn_trainer.py#L150
This gives: `AttributeError: module 'tensorboard.summary._tf.summary' has no attribute 'FileWriter'`.
Possible fix:

[code]

And
https://github.com/deepmipt/DeepPavlov/blob/

[2021-01-25 02:22] ravishpankar commented on #1353
@yurakuratov, please help

[2021-01-25 15:58] danielkornev commented on #1369
Super cool examples of more modern documentation systems:
https://dev.to/nafis/5-free-static-documentation-generators-you-must-check-out-5ged

[2021-01-25 15:58] danielkornev commented on #1369
feels like this is the fastest:
https://docute.org/options

[2021-01-25 16:59] Rajmehta123 commented on #1382
@danielkornev @IgnatovFedor Any help would be appreciated. Thanks :)

[2021-01-25 19:40] danielkornev commented on #1368
# High-Level Goals (for Improvement)
* Emphasis on How-Do-Is (many How-Do-Is)
* Emphasis on High-Performance Computing (once available)
* Maybe put models into a separate place and make them updateable (like HF Transformers?)
* Put demos into the docs (like in RASA and AllenNLP docs)
* Better distinction between supported languages
* Move Integration components into separate areas: integrating thi

[2021-01-26 07:49] vaskonov commented on #1382
@Rajmehta123 you are correct, based on logits only you cannot assess the model's confidence. Please mention the configuration file that has been used.

[2021-01-26 10:57] danielkornev commented on #1353
Hi and thank you very much for your interest in the aforementioned NER model from the DP Library. As the GPUs that we and our customers like you use usually differ (e.g., model, amount of memory, etc.), it is advised to measure the performance on your own hardware to get the best picture.

[2021-01-27 09:16] danielkornev opened #1385 "Create Architecture Diagram of DeepPavlov Library"

[2021-01-27 09:57] danielkornev commented on #1368
Build Customer Journey Map/Path

[2021-01-27 09:58] danielkornev opened #1386 "Create CJM for our Users"
Moved to internal Trello

[2021-01-27 10:00] danielkornev commented on #1368
Add GA/YM to individual doc pages

[2021-01-27 10:02] danielkornev opened #1387 "Add GA to our docs"
Moved to internal Trello

[2021-01-27 10:04] danielkornev opened #1388 "Look into GA & Medium analytics to see what's most popular right now (e.g., blog posts, etc.)"
Moved to internal Trello

[2021-01-27 10:06] danielkornev commented on #1371
awaiting comments from @jurashka

[2021-01-27 10:06] danielkornev commented on #1371
we need a system for URL redirects w/ ability to count download links

[2021-01-27 10:11] danielkornev commented on #1371
create doc w/ all requirements & define design decisions

[2021-01-27 10:58] danielkornev opened #1389 "Make NER the top model on demo.deeppavlov.ai"

[2021-01-27 11:56] danielkornev commented on #1369
https://www.tensorflow.org/tutorials/quickstart/beginner
https://pytorch.org/tutorials/beginner/transformer_tutorial.html

[2021-01-27 15:16] yurakuratov opened #1390 "There is no config.json in pre-trained BERT models by DeepPavlov"
BERT pre-trained models from http://docs.deeppavlov.ai/en/master/features/pretrained_vectors.html#bert have `bert_config.json` instead of `config.json`. This leads to errors when these models are used with HuggingFace Transformers:

[code]

[code]

Renaming `bert_config.json` to `config.json` should solve the problem.

[2021-01-28 07:10] ravishpankar commented on #1353
@danielkornev, thank you for your answer. What is the minimum ram required? Also, please make changes to the config file pasted in the third comment above. The aim is to get the entity tokens and probabilities. Please see the comment.

[2021-01-28 07:13] danielkornev commented on #1353
BERT models eat approximately 4GB of GPU RAM.

[2021-01-28 12:57] moryshka commented on #1367
@yurakuratov summarization ( bert_as_summarizer,bert_as_summarizer_with_init) - del
@oserikov Seq2seq_go_bot (bot_kvret, bot_kvret_train) - del

[2021-01-28 13:10] yurakuratov commented on #1367
remove summarization PR:
https://github.com/deepmipt/DeepPavlov/pull/1391

[2021-01-28 17:07] danielkornev opened #1392 "Relationship Extraction Component"
e.g., user name and person, or city and temperature (e.g. medical data, e.g., prescriptions, tests) - slot filling maybe? entity linking?

[2021-01-28 17:07] danielkornev opened #1393 "Integration: Apach Spark"
write an example of how to integrate DP Library components in it

[2021-01-28 17:08] danielkornev opened #1394 "Performance: Investigate PyTorch Support for TPUs"
Moved to internal Trello

[2021-01-31 17:22] ravishpankar commented on #1353
@danielkornev, thank you. Please make the changes to the nerontonotes Bert config json changes and paste it in your comment. The reason is the config file is quite different from the file where the changes are suggested by @yurakuratov. I'm using deeppavlov 0.12.1.

[2021-02-01 13:58] danielkornev opened #1395 "Support RASA 2.0 format for nlu.md & extend with Intent Catcher"
Moved to internal Trello

[2021-02-01 14:05] danielkornev commented on #1395
# Action Items
* [ ] Create environment with RASA 2.0
* [ ] Use RASA 2.0-only examples to form domain.yml and nlu.yml, as well as stories.yml (read the docs)
* [ ] Build chatbot
* [ ] Observe its behavior (including but not limited to their regex-based **intent** implementation)
* [ ] Build own reader for RASA 2.0 format
* [ ] Ensure that own Intent Classifier provides similar (or better) results

[2021-02-08 02:42] ravishpankar commented on #1353
@danielkornev , I can get the labels and probabilities. I'm getting an error while training the trained model after extending the train.txt dataset with my sample. Thanks a lot Daniel and Yura. It was really instructive and helpful. You may want to close this one.

[2021-02-08 11:50] ravishpankar opened #1398 "Error occurs while training ner_ontonotes_bert_probas model"
**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):
0.12.1
**Python version**:
3.7.7

**Operating system** (ubuntu linux, windows, ...):
Windows 10
**Issue**:
I'm training the ner_ontonotes_bert empty model with the ontonotes bio dataset. I'm appending my bio annotations of sentences at the end of train.txt with newline inbetween sentences and then train the model. I'm pa

[2021-02-08 14:13] danielkornev commented on #1380
1. We need full list of configs per each product feature
2. We need statistics for each config
3. We need dependencies - @danielkornev

[2021-02-08 14:35] danielkornev commented on #1369
![image](https://user-images.githubusercontent.com/5264043/107233754-f61e7680-6a33-11eb-89df-73fb6104fb1c.png)
Example CJM (Stages) for "Find an open-source Conversational Platform"

[2021-02-08 14:38] danielkornev commented on #1367
https://github.com/deepmipt/DeepPavlov/issues/1380

[2021-02-08 14:40] danielkornev commented on #1385
![image](https://user-images.githubusercontent.com/5264043/107234434-b73cf080-6a34-11eb-8daf-7030d6e88c18.png)

[2021-02-08 14:46] danielkornev commented on #1385
Decision: apply CJM to Skill Builders concept within the Library

[2021-02-08 14:57] danielkornev opened #1399 "Simplify our concepts - configs, models, skills, annotators, NLU components, etc."
Skills --> moved out from Library
Skill Factories?
Make one (few) generic pipelines with all components for each language (like in SpaCy), and then give users an option to pick which individual components in each use case

[2021-02-12 06:21] 123456asdf opened #1400 "pip install DeepPavlov showing error on python 3.9.1"
ERROR: Command errored out with exit status 1:
   command: 'f:\tpl\pythonprojects\ner\env\scripts\python.exe' 'f:\tpl\pythonprojects\ner\env\lib\site-packages\pip' install --ignore-installed --no-user --prefix 'C:\Users\umar.safeer\AppData\Local\Temp\pip-build-env-mog_5bg7\overlay' --no-warn-script-location --no-binary :none: --only-binary :none: -i https://pypi.org/simple -- wheel setuptools 'Cyt

[2021-02-15 13:41] danielkornev commented on #1368
**CJMs:**
* [CJM - find Open Source Conversational Platform - Public.xlsx](https://github.com/deepmipt/DeepPavlov/files/5981822/CJM.-.find.Open.Source.Conversational.Platform.-.Public.xlsx)
* [CJM - Use NER in own project - GitHub - Public.xlsx](https://github.com/deepmipt/DeepPavlov/files/5981834/CJM.-.Use.NER.in.own.project.-.GitHub.-.Public.xlsx)
* CJM - Build goal-oriented skill
* CJM - Build

[2021-02-15 14:33] danielkornev commented on #1368
Vasily to describe real-life use cases for different components in our library

[2021-02-15 14:33] danielkornev commented on #1368
we need tutorials for each component

[2021-02-15 14:44] danielkornev commented on #1367
no news for this week - we wait for updates in the Tool

[2021-02-15 14:48] danielkornev commented on #1370
waiting for PR

[2021-02-15 21:17] edrozenberg opened #1401 "Removing pins would be nice if project is still active"
Moved to internal Trello

[2021-02-16 12:00] danielkornev commented on #1401
Indeed, both we and our customers usually run DP in docker containers. However, this is a good work item for our v1 release that we are currently planning for release later this Summer.

Thanks for the heads up!

[2021-02-17 12:21] #1353 closed

[2021-02-18 16:17] #1381 closed

[2021-02-18 16:17] moryshka opened #1402 "👩‍💻📞 DeepPavlov Community Call #6"
Dear DeepPavlov community,

**This month, 3 years ago, we released the first alpha release of the DeepPalov library**. DeepPavlov library was created to enable building super smart, intelligent multiskill AI Assistants. DeepPavlov 0.0.1 contained a few pretrained models and JSON configs. And now we have several products, many users and use-cases, achievements in famous challenges and conferences,

[2021-02-21 17:23] ravishpankar commented on #1398
Please help.

[2021-03-09 06:22] ravishpankar commented on #1398
Probabilities instead of tags are processed in metrics calculation function. I changed the config file a I got rid of the error.

[2021-03-09 06:22] #1398 closed

[2021-03-09 06:22] ravishpankar commented on #1398
I'm closing this because config file change solved the issue.

[2021-03-09 07:24] danielkornev commented on #1400
We currently only support Python 3.6.

[2021-03-10 16:07] HassanRahim26 commented on #1338
Hey, @oserikov
I am **interested** in working on this issue. Can you please guide me about how to proceed with solving this?

[2021-03-11 07:02] arya2910 commented on #1400
@danielkornev  i have python 3.8  but i have installed it properly.
if there any issue with python 3.8.

[2021-03-11 07:05] arya2910 commented on #1400
@123456asdf  first set your environment variable and check your python in working properly or not in cmd then again do the follow the step to install deeppavlov in anaconda prompt.

[2021-03-11 07:19] danielkornev commented on #1400
We don't currently support Python versions other than 3.5 and 3.6 for the time being.

[2021-03-11 10:53] arya2910 commented on #1400
so should i install python3.6 if it is properly installed.

[2021-03-11 11:16] danielkornev commented on #1400
You just should make sure that python 3.6 is exposed to DeepPavlov by default. Or, you can use docker iamge instead

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: arya29 ***@***.***>
Sent: Thursday, March 11, 2021 1:53:20 PM
To: deepmipt/DeepPavlov ***@***.***>
Cc: Daniel Kornev ***@***.***>; Mention ***@***.***>
Subject: Re: [deepmipt/DeepPavlov] pip insta

[2021-03-11 13:35] potato-patata opened #1403 "Finding Cuss Words with NER"
**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]

[2021-03-11 15:24] oserikov commented on #1338
Hey! Well,
`Speech recognition` and `Speech Synthesis` links
in the models training sections lead nowhere.

I think this can be fixed somewhere [here](https://github.com/deepmipt/DeepPavlov/blob/b66179e584d3eb6da73c5731ba7b732dab7e94bd/docs/features/models/nemo.rst)!
To check if docs are built properly, run `make html` from inside the docs folder of the project.

Thanks for your interest! Feel fre

[2021-03-14 07:30] Edith-panda commented on #1400
Hii
![IMG_20210314_125928](https://user-images.githubusercontent.com/73990998/111060734-3191e200-84c5-11eb-8b49-0236791ecc85.jpg)

@danielkornev and @arya2910 in installation guide it is written over their that they support python 3.6 and 3.7  , python 3.5 is not supported

 So by default it doesn't support python 3.9.1 also

[2021-03-14 07:32] Edith-panda commented on #1400
And so @123456asdf  it's not a bug it's prerequisite thing for installation.

[2021-03-14 07:53] arya2910 commented on #1400
@Edith-panda i figured that out and installed all the prerequisite.and now its working nicely...thanks for ur reply:)

[2021-03-14 09:58] castargo opened #1405 "Bug in torch BERT classifier. Wrong working with model outputs."
https://github.com/deepmipt/DeepPavlov/blob/f9af2fa3f9f425e715aae647b57637406fc7145e/deeppavlov/models/torch_bert/torch_transformers_classifier.py#L120

This model returns dict like object that leads to invalid values in variables - loss and logits are just strings "loss" and "logits".

[2021-03-14 10:20] yurakuratov commented on #1405
Hi!

What version of `transformers` is installed?
DeepPavlov is currently using `transformers==2.8.0`:
https://github.com/deepmipt/DeepPavlov/blob/master/deeppavlov/requirements/transformers.txt#L1

[2021-03-14 11:53] castargo commented on #1405
Sorry, I used the last stable version of transformers `transformers==4.3.3`. With 2.8.0 all work fine.
I hope my [PR](https://github.com/deepmipt/DeepPavlov/pull/1406) can be useful if you will migrate to transformers 4 in the future.

Thank you!

[2021-03-14 11:53] #1405 closed

[2021-03-14 14:05] arya2910 commented on #1322
@oserikov  i dont understand whats exactly the issue is??...i have executed each line written https://github.com/deepmipt/DeepPavlov/blob/master/examples/gobot_md_yaml_configs_tutorial.ipynb .
everything is working nicely

[2021-03-14 15:57] Edith-panda commented on #1395
hii @danielkornev I want to work on this issue can you tell me from where to begin with and how to proceed with same.

[2021-03-14 17:16] danielkornev commented on #1395
Adding @danchern97 @oserikov - to discuss

[2021-03-15 07:26] 0pride commented on #1240
Hello, @oserikov
I'd like to do that.
Could you point a couple of steps to start from?

[2021-03-15 08:42] yurakuratov commented on #1405
Sure, thank you.

[2021-03-15 11:55] 0pride commented on #1239
Hello,
If I understand correctly,
this dataset should be added instead of DSTC-2 (or after working with it)  in this notebook?

[2021-03-15 14:10] danielkornev opened #1407 "Update Product Usage Tool by adding categorization based on model categories"

[2021-03-15 14:16] danielkornev opened #1408 "Intent Catcher & Go-Bot"
Moved to internal Trello

[2021-03-15 14:17] danielkornev opened #1409 "Add support for Actions in Go-Bot"
Moved to internal Trello

[2021-03-15 14:18] danielkornev commented on #1409
@oserikov : formulate task for prospective GSoC students, alongside with your existing work

[2021-03-15 14:24] #1399 closed

[2021-03-15 14:24] #1389 closed

[2021-03-15 14:24] #1369 closed

[2021-03-15 14:26] danielkornev commented on #1371
Spec is done, see link in Slack.

[2021-03-15 14:26] #1371 closed

[2021-03-15 14:27] danielkornev opened #1410 "Begin implementation of our new approach to Models Versioning"
Moved to internal Trello

[2021-03-15 14:29] danielkornev commented on #1395
Waiting for PR

[2021-03-15 14:48] danielkornev opened #1411 "Migrate internal KBQA models to PyTorch"
Moved to internal Trello

[2021-03-15 14:56] danielkornev opened #1412 "Common guidelines for building PyTorch-based components, with necessary common infrastructure"
Moved to internal Trello

[2021-03-15 15:07] danielkornev opened #1413 "Try to combine Dataverse with our CEPH"
Moved to internal Trello

[2021-03-18 20:41] rashmiprabhat567 commented on #1413
Hey @danielkornev , would you give a little description of this issue. I think I would contribute to this as it is somewhat related to my tech stack. Thanks!

[2021-03-18 20:48] rashmiprabhat567 commented on #1385
Hey @danielkornev , is this issue still need to be modified? If yes, it would be a great help if you discuss it with me.
Thanks!

[2021-03-18 21:07] rashmiprabhat567 commented on #1403
Hey @potato-patata , would like to work on this issue. Can we do this translation using the googletrans library and then applying the semantics of words for training the model?

[2021-03-18 21:15] potato-patata commented on #1403
Hey @rashmiprabhat567 we can definitely use it, but we need to find a way to incorporate with dp embeddings. So it is better if we first look into dp embeddings and then proceed.

[2021-03-19 04:31] rashmiprabhat567 commented on #1403
got it @potato-patata . I'm looking over to solve this issue. will let you know i I can make any progress

[2021-03-19 14:11] #1402 closed

[2021-03-19 14:11] moryshka opened #1415 "👩‍💻📞 DeepPavlov Community Call #7"
Dear DeepPavlov community,

This month we’ve celebrated 3 years since the first release of DeepPavlov Library. As promised, next week we’ll hold our Community Call #7, in English, in addition to the 3 Years celebration event that we held in Russian.

**In this Community Call, we’ll give a talk about our products and our vision, discuss GSoC 2021 @ DeepPavlov, share the changes to the Community Cal

[2021-03-20 09:21] danielkornev commented on #1413
Hi! This is an internal issue. There is a nice GUI for organizing work with ML Models called Dataverse, and we want to evaluate its effectiveness when combined with CEPH where we store our models.

[2021-03-20 09:21] danielkornev commented on #1385
Nope thanks

[2021-03-22 14:19] danielkornev commented on #1407
talk to @acriptis

[2021-03-22 17:13] rashmiprabhat567 commented on #1409
Hey @danielkornev @oserikov , I've gone through the GO-bot pipeline research paper and found it interesting to work with. I want to contribute to this issue but i'm unable to understand the base here. How should I incorporate this? Kindly guide me with it.

[2021-03-23 16:46] yurakuratov opened #1417 "Implement importing of custom metrics from python module in configuration file"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
In DeepPavlov user can define its own DatasetReaders/DatasetIterators/Components and use them in configuration files. There are two ways:
1. use `@register` decorator in the source code
2. add `"imports":

[2021-03-24 09:25] blaze-fire commented on #1417
Hello @yurakuratov,
I have tried to understand the problem as follows:
if we create a custom metric we, check whether the metric is already registered or not in _metrics_registry.json_, if it exists we replace the old metric function with the new one, otherwise the new metric gets registered.
Now, what we want is to do the above using `"imports:"`.
**ps:** I am new to open source, and want to star

[2021-03-24 13:13] danielkornev commented on #1417
hi @blaze-fire!

This repo is for main product issues. If you want to pick a GSoC idea, feel free to pick the one you find interesting in https://github.com/deepmipt/deeppavlov-contrib-drafts/issues

[2021-03-24 14:13] yurakuratov opened #1418 "Save model every n_steps"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
I wan't to train a model and save its checkpoint for every n steps.
Such cases occur when there is no validation set or metric is not defined and model is evaluated later and separately from training.

**

[2021-03-24 14:22] oserikov commented on #1417
@blaze-fire If you feel like this Idea can enhance you GSoC proposal or be your coding challenge, rise an Issue in our GSoC tracker describing how it fits into your GSoC contribution!

[2021-03-24 15:11] yurakuratov opened #1420 "TorchModel typing for fname argument in save is str, but is used as pathlib.PosixPath"
`fname` argument of TorchModel.save() is expected to be `str`, but is actually used as `pathlib.PosixPath`
https://github.com/deepmipt/DeepPavlov/blob/master/deeppavlov/core/models/torch_model.py#L172

Support, please, both types of arguments or fix typing.

[2021-03-25 03:04] KhondokerIslam commented on #283
Neither `load` or `load_model` attribute available in fastText. Using google colab with `fasttext==0.9.2`. Hoping for a quick fix.

[2021-03-25 12:42] oserikov opened #1422 "Integrate Intent Catcher and Gobot readers"

[2021-03-25 13:49] oserikov opened #1423 "Implement dates slotfiller for GO-bot based on dateparser"
https://pypi.org/project/dateparser/

[2021-03-25 13:53] oserikov opened #1424 "Add docs on how to log buisness and technical metrics in DP agent"

[2021-03-25 16:58] blaze-fire commented on #1417
@oserikov, I would like to raise it as an issue and also solve it as a coding challenge, but as I mentioned in my above comment, I can only do so if I understand the problem statement properly. Can you help me with that?

I am also working on other open issues

[2021-03-29 14:16] danielkornev opened #1425 "Return functionality cut from standalone IC to DP IC"
Moved to internal Trello

[2021-03-31 06:16] shamil-kadavan opened #1426 "Location NER Tagging"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]

[2021-03-31 14:10] mirabu2801 commented on #1275
Hello! Any news on this issue?

[2021-04-02 22:01] gasyoun opened #1428 "WARNING:tensorflow"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):

**Python version**:

**Operating system** (ubuntu linux, windows, ...):

[2021-04-07 18:13] rushilpatra commented on #1334
hey @polodealvarado!  Can I work on this?

[2021-04-07 18:17] rushilpatra commented on #1403
hey @potato-patata ! Is this still open to work on?

[2021-04-08 01:50] potato-patata commented on #1403
Hi, this issue is not for gsoc task. This is just an enhancement suggestion.

[2021-04-08 01:51] potato-patata commented on #1403
Moreover, I am not the mentor so I apologise if I might have mislead you 😄

[2021-04-08 07:17] polodealvarado commented on #1334
Sure, no problem.

[2021-04-14 22:16] MuhammedTech opened #1430 "Multi class emotion classification for text in russian"
Как использовать BERT Classifier для multi class классификаций текста? У меня есть свой датасет, нужно тренировать модель на этом датасете.
Пример Input:
Я сегодня чувствую себя не очень хорошо
Output:
Sadness

Классов должно быть 5 или 6

Знаю что есть rusentiment_bert.json. Это как я понимаю pretrained и здесь только Positive neutral negative speech skip, а мне надо чтобы были эмоций типа (радос

[2021-04-15 17:52] goodguyerik commented on #283
Same here,
AttributeError: module 'fastText' has no attribute 'load_model'

[2021-04-19 13:16] moryshka commented on #1430
Добрый день!

Напишите свой вопрос у нас на форуме, пожалуйста: https://forum.deeppavlov.ai.

[2021-04-19 13:17] #1430 closed

[2021-04-19 13:37] #1415 closed

[2021-04-19 13:37] moryshka opened #1431 "👩‍💻📞 DeepPavlov Community Call #8"
Dear DeepPavlov community,

Last month we’ve celebrated 3 years since the first release of DeepPavlov Library. As promised, starting with April, we’ll hold our Community Calls in two languages, one in Russian (Last Wednesday of the Month), and one in English (Last Thursday of the Month).

In the upcoming Community Calls (both in English and Russian), we’ll give our brave Spring 2021 interns from M

[2021-04-26 14:17] #1407 closed

[2021-04-26 14:18] danielkornev opened #1432 "Walk through https://github.com/deepmipt/DeepPavlov/blob/master/examples/gobot_md_yaml_configs_tutorial.ipynb and figure out if there are any errors in the Notebook"
Moved to internal Trello

[2021-04-26 20:27] muhammadahmad671 commented on #1097
/root/.deeppavlov/downloads/bert_models/multi_cased_L-12_H-768_A-12/vocab.txt; No such file or directory

 i am getting this error while loading me own trained model
 i have not set download=True as following

import json
from deeppavlov import configs, build_model

with configs.ner.ner_ontonotes_bert_mult.open(encoding='utf8') as f:
    ner_config = json.load(f)
ner_config['metadata']['variables'

[2021-05-04 07:25] alphabetagamer commented on #1382
Have the same question , I tried using **config.squad.squad_bert** and it allowed me to output the score by changing
`"out": ["ans_start_predicted", "ans_end_predicted", "logits"]
      },
      {
        "class_name": "squad_bert_ans_postprocessor",
        "in": ["ans_start_predicted", "ans_end_predicted", "context_raw", "bert_features", "subtok2chars"],
        "out": ["ans_predicted", "ans_sta

[2021-05-06 22:43] Aryagm opened #1438 "Error while building Knowledge Base Question Answering (KBQA) model: ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 88 from C header, got 80 from PyObject"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`): Version: 0.14.0

**Python version**: Python 3.6.13

**Operating system**

[2021-05-07 07:07] IgnatovFedor commented on #1438
@Aryagm, could you please send the output of `pip freeze` command?

[2021-05-07 12:52] Aryagm commented on #1438
I'm sorry I forgot to state that the piece of code was run from a Jupyter notebook cell! The error when I run it from a python file is:

[code]

And the `pip freeze` output is:
[code]

[2021-05-07 13:12] Aryagm commented on #1438
There was an error while installing the model using `python -m deeppavlov install kbqa_cq`:

[code]

[2021-05-09 14:45] #1438 closed

[2021-05-09 15:28] Aryagm opened #1441 "Error while installing hdt for KBQA model."
**DeepPavlov version** (you can look it up by running `pip show deeppavlov`): `Version: 0.14.0`

**Python version**:  `Python 3.6.13`

**Operating system** (ubuntu linux, windows, ...): `Windows 10 Pro`

**Issue**: `Error while installing kbqa_cq_online`

**Content or a name of a configuration file**:
[code]

**Command that led to error**:
[code]

**Error (including full traceback)**:
[code]

[2021-05-09 20:31] OitaGG opened #1442 "AttributeError: module 'tensorboard.summary._tf.summary' has no attribute 'FileWriter'"
[code]
  }

Получаю следующую ошибку:
![image](https://user-images.githubusercontent.com/48730380/117586095-a298f300-b11e-11eb-941e-8648a549286b.png)

[2021-05-10 13:06] Aryagm opened #1443 "Reducing amount of download files and memory strain for OBQA by using wikipedia api instead of local downloads."
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]

[2021-05-11 09:23] rider8581 opened #1445 "Entity Linking"
https://github.com/deepmipt/DeepPavlov/blob/master/docs/features/models/entity_linking.rst

I was reading this and got how to run entity linking.

But could you give me more detailed description of output meaning?

python -m deeppavlov interact entity_linking_eng -d

What does this output mean?

[2021-05-12 16:35] yurakuratov opened #1446 "add support of sklearn metrics"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:

Add out of the box support of sklearn metrics. Currently, to use metrics from sklearn user has to wrap them with @register_metric in custom py-files.

**How can we solve it?**:

Sklearn metrics could be

[2021-05-21 10:14] moryshka opened #1452 "👩‍💻📞 DeepPavlov Community Call #9"
Dear DeepPavlov community,

According to our tradition, we are glad to announce our next DeepPavlov Community Call #9 which will take place next week, including both the US & Russian Editions.

In the upcoming Community Call we discuss the new version of DeepPavlov v0.15.0, plans for the next release, tell you about our events plans for June (where and when you can meet the DeepPavlov team), and,

[2021-05-21 10:14] #1431 closed

[2021-05-24 16:44] vcjob opened #1453 "facilities to fine-tune BERT sentence embedder"
Hello everyone!

I use sentence_multi_cased_L-12_H-768_A-12_pt to extract sentence embeddings.
I have prepared texts for fine-tuning, but not sure where to start and what to do.
I saw huggingface scripts and train API, but not sure if the deeppavlov model will suit. I also saw legacy script for a regular BERT model finetuning, but I guess this is no go with sentence_multi_cased_L-12_H-768_A-12_pt,

[2021-05-24 18:39] Piteryo opened #1454 "Support of the Transformers>=4.0.0 version library"
**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):
latest
**Python version**:
3.6
**Operating system** (ubuntu linux, windows, ...):
ubuntu
**Issue**:
Starting from version 4.0.0 the interface of Transformers library was changed and a dictionary is returned as model output. That is why issue #1355 cannot be fixed by changing PyTorch version. It can be fixed as easy as ad

[2021-06-01 09:25] IgnatovFedor commented on #1445
Hi, @rider8581
Firs list is detected entities substrings, second - detected entities positions, third is detected entities ids in wikidata (https://www.wikidata.org/wiki/Q19686 for `the river thames` etc)

[2021-06-01 09:25] #1445 closed

[2021-06-10 02:58] jeffzhengye opened #1457 "Any plan to upgrade tf to 2x?"
as the title said.

[2021-06-21 15:18] moryshka opened #1459 "👩‍💻📞 DeepPavlov Community Call #10"
Dear DeepPavlov community,

According to our tradition, we are glad to announce our next DeepPavlov Community Call #10 which will take place both this (US) and next week (RUS), including both the US & Russian Editions.

In the upcoming Community Call we will have small differences. In the Russian version, our friend David Dale will present his work on [Distilled Russian BERT](https://habr.com/ru/p

[2021-06-21 15:18] #1452 closed

[2021-06-24 13:51] alyferryhalo opened #1460 "AttributeError: module 'numpy.linalg.lapack_lite' has no attribute '_ilp64'"
**DeepPavlov version** : 0.15.0

**Python version**: 3.8.5

**Operating system**: Linux Ubuntu 20.04

**Issue**:

**Command that led to error**:
[code]

**Error (including full traceback)**:
[code]

[2021-06-27 22:22] palette-knife25 commented on #1366
I have the same issue while running ru_odqa_infer_wiki in the pre-built [deeppavlov/base-gpu](https://hub.docker.com/r/deeppavlov/base-gpu) DeepPavlov image. The answer does not seem to be right, though (got "до широкого распространения международной системы").

**DeepPavlov version:** 0.15.0
**Python version**: 3.7.4
**Operating system (ubuntu linux, windows, ...):** Ubuntu 18.04.5 LTS
**Issue:**

[2021-07-04 21:39] oserikov opened #1462 "levenshtein searcher works incorrectly"
**DeepPavlov version** (you can look it up by running `pip show deeppavlov`): 0.15.0

**Python version**: 3.7.10

**Operating system** (ubuntu linux, windows, ...): ubuntu 20.04

**Issue**: Levenshtein searcher does not take symbols replacements into account

**Command that led to error**:
[code]

**Expected output**:
[code]

[2021-07-06 18:39] danielkornev commented on #1457
No, our plan is to migrate to PyTorch

[2021-07-06 18:40] danielkornev commented on #1454
In plans for v0.16 ) We hope to ship in mid-July

[2021-07-09 13:26] novotnej commented on #1457
Is the plan in motion? We are using DeepPavlov for a project, and it is currently seriously breaking our dependencies with numpy==1.18 and tf 1.15 - we need to maintain two environments with different versions, which is a disaster waiting to happen...

[2021-07-13 09:50] danielkornev commented on #1457
Hi! Our plan is to migrate from TF 1.x to PyTorch, and abandon TF 1.x entirely. We plan to bring the majority of updates to our models in our upcoming releases, 0.16 (July 2021) and 0.17 (August/September 2021), respectively.

Thanks!

From: Jan Novotný ***@***.***>
Sent: Friday, July 9, 2021 4:26 PM
To: deepmipt/DeepPavlov ***@***.***>
Cc: Daniel Kornev ***@***.***>; Comment ***@***.***>
Subject:

[2021-07-21 19:24] priyankshah7 opened #1467 "Windows support for DeepPavlov v0.14.1 and v0.15.0"
**DeepPavlov version** : 0.14.1 and 0.15.0
**Python version**: 3.7
**Operating system** (ubuntu linux, windows, ...): Windows 10

**Issue**:
Attempting to upgrade to v0.14.1 or v0.15.0 encounters an error on Windows as uvloop is not supported on Windows. Is this a noted issue or are there any workarounds?

See installation error traceback (file paths removed):

**Error (including full traceback)**

[2021-07-22 15:10] Oumaimalh opened #1468 "train the model on a new data"
Hi i was trying to retrain the pretrained ner_ru_bert model on my data but when I run the following command
[code]
 I'm getting this error:

[code]

[code]

[2021-07-23 12:05] moryshka opened #1469 "👩‍💻📞 DeepPavlov Community Call #11"
Dear DeepPavlov community,

According to our tradition, we are glad to announce our next DeepPavlov Community Call #11 which will take place next week, including both the English & Russian Editions.

In the upcoming Community Calls we discuss firstly the new version of DeepPavlov v0.16.0, which will be released soon (early August) , and, of course, we will answer your questions.

Second part of bo

[2021-07-23 12:05] #1459 closed

[2021-07-26 12:15] alyferryhalo opened #1470 "IndexError: index 0 is out of bounds for axis 0 with size 0"
**DeepPavlov version**: 0.15.0

**Python version**: 3.6 (Google Colaboratory)

**Operating system**: Ubuntu Linux 20.04 / Google Colaboratory

**Issue**: IndexError: index 0 is out of bounds for axis 0 with size 0

**Command that led to error**:
[code]

The `data` is python list of strings that was created from one pandas dataframe column. It contains Russian text.

**Error (including full traceba

[2021-08-03 06:39] VRSupriya opened #1472 "Any plan to update Pandas and numpy versions?"
We are using DeepPavlov for a project. As DeepPavlov uses older versions of pandas, numpy, and pydantic,  it creates conflict with other libraries. Now we need to maintain two environments due to that. is there any plan to upgrade the versions?

[2021-08-09 07:03] SAYAKGHANTA commented on #839
Can you please tell me how to update this path. I tried but not able to do it

[2021-08-09 07:13] SAYAKGHANTA commented on #839
Traceback (most recent call last):
  File "c:/Users/sghanta/Desktop/NER/train_model.py", line 12, in <module>
    ner_model = train_model(configs.ner.ner_ontonotes_bert_mult)
  File "C:\Users\sghanta\Desktop\NER\env\lib\site-packages\deeppavlov\__init__.py", line 29, in train_model
    train_evaluate_model_from_config(config, download=download, recursive=recursive)
  File "C:\Users\sghanta\Desktop

[2021-08-18 20:03] SAYAKGHANTA commented on #1343
You can try this :
[code]

[2021-08-19 15:17] #1469 closed

[2021-08-19 15:18] moryshka opened #1475 "👩‍💻📞 DeepPavlov Community Call #12"
Dear DeepPavlov community,

For a whole year, we have been kept in touch with you: we talk about what we are doing and answer your questions! And next week is no exception, according to our tradition, DeepPavlov Community Calls # 12 will be held with Russian and English versions.

In the upcoming Community Calls we will continue our talk about learnings we’ve made after Alexa Prize 3 & 4, and, of

[2021-08-20 12:38] DLPerf opened #1476 "Performance issue in the definition of CudnnGRU, deeppavlov/models/squad/utils.py(P1)"
Hello, I found a performance issue in the difinition of `CudnnGRU`, deeppavlov/models/squad/utils.py, [tf.expand_dims](https://github.com/deepmipt/DeepPavlov/blob/d60649aaf26e0fc5f5c9850a76c41701410ec77c/deeppavlov/models/squad/utils.py#L33) will be called repeately during the program execution, resulting in reduced efficiency. So I think `init_bw ` should be created before the loop.

The same iss

[2021-08-22 03:37] roman-vygon commented on #1441
pip install pybind11 helps

[2021-08-22 11:30] roman-vygon opened #1477 "KBQA rus performance"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):
deeppavlov 0.16.0

**Python version**:
3.8
**Operating system** (ubuntu l

[2021-08-22 11:53] dmitrijeuseew commented on #1477
We will find the cause of the bug and fix it in the next release of the library.

[2021-08-23 14:17] federicober opened #1479 "Security vulnerability in FastAPI version"
Hello!

The FastAPI version you use in your dependency is getting outdated and it has some identified HIGH vulnerabilities. I should be worth it to try to upgrade to the latest version to avoid any issues. I'm linking all relevant information bellow:

Identified vulnerabilities:
- https://nvd.nist.gov/vuln/detail/CVE-2021-29510
- https://nvd.nist.gov/vuln/detail/CVE-2021-32677

How to recover this

[2021-08-23 14:43] Arnab1181412 commented on #1240
Sir can I work on this issue?

[2021-08-25 08:02] DLPerf opened #1480 "Performance issue in /deeppavlov/core/common (by P3)"
Hello! I've found a performance issue in /deeppavlov/core/common/check_gpu.py: `with tf.Session(config=sess_config)`[(here)](https://github.com/deepmipt/DeepPavlov/blob/d60649aaf26e0fc5f5c9850a76c41701410ec77c/deeppavlov/core/common/check_gpu.py#L32) is defined in the function `check_gpu_existence`[(here)](https://github.com/deepmipt/DeepPavlov/blob/d60649aaf26e0fc5f5c9850a76c41701410ec77c/deeppav

[2021-09-01 15:43] decadance-dance opened #1482 "How to show more results? QA"
I use
`model = build_model(configs.squad.squad_ru_rubert_infer, load_trained=True)`
and for any context and question, I get only one top 1 result.
`model(["A beautiful evening blue house stood on the mountain."], ["what was the house like?"])`
`[['ening blue house st'], [14], [2.080101490020752]]`
I need to get more results.

[2021-09-01 16:01] dmitrijeuseew commented on #1482
Current version of Reading Comprehension model does not have an option to get several outputs.
ODQA model https://github.com/deepmipt/DeepPavlov/blob/master/deeppavlov/configs/odqa/ru_odqa_infer_wiki_rubert.json has an option to get several candidate passages for a questions and several candidate answers in these passages.

[2021-09-03 13:02] DLPerf commented on #1476
@IgnatovFedor Hi, friend, could you deal with the issue asap?

[2021-09-05 17:23] QtRoS opened #1483 "`parse_config` doesn't allow to add extra variables"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]

If you are ok with it - I will code it myself and do PR.

[2021-09-06 13:50] danielkornev opened #1484 "Figure out what are the remaining models that haven't been transitioned to PyTorch just yet"
Moved to internal Trello

[2021-09-09 07:41] zhanhuifeng commented on #1460
Me too, spent 2 hours to find where I can get "numpy.linalg.lapack_lite._ilp64", but failure. At first I want to add # ahead "HAS_LAPACK64 = numpy.linalg.lapack_lite._ilp64", but others will use HAS_LAPACK64.

[2021-09-13 13:32] danielkornev opened #1486 "Add support for Sequence Labeling & Q&A from original article for KBQA migration to PyTorch"
Moved to internal Trello

[2021-09-19 10:07] xelandar commented on #1467
Same problem here when installing latest (to the date of this comment) version of DeepPavlov. It seems that this bug is still, well, a bug?

[2021-09-23 09:15] svjack opened #1489 "Why EntityDetectionParser do not recognize "T-TAG" ?"
I run configs.kbqa.kbqa_cq step by step and use a sample question
from the train data in  http://files.deeppavlov.ai/kbqa/datasets/entity_and_type_detection.pickle

"In this topic , give a summary of Korea 's history"

which "Korea" defined as "E-TAG" and "history" as "T-TAG"

the probability produced by BertSequenceTagger is true, that predict "history" as "T-TAG"

but use this output into Entity

[2021-09-24 09:36] #1489 closed

[2021-09-27 10:10] #1475 closed

[2021-09-27 10:10] moryshka opened #1494 "👩‍💻📞 DeepPavlov Community Call #13"
Dear DeepPavlov community,

13 is a strange, magic number in some cultures. In France it used to be seen as a lucky number. In some cultures its seen as an unlucky number. I can’t even recall just how many times I’ve been in US skyscrapers which simply omitted this number from their elevators. In the movie “Interstate 60: Episodes of the Road” (better known in Russia than in US), the protagonist h

[2021-10-04 07:35] sandeeppandey456 opened #1496 "ModuleNotFoundError: No module named 'deeppavlov.skills.pattern_matching_skill'"
I have done a fresh installation of Deeppavlov in a new conda environment having Tensorflow 1.15.2.

I am trying to run the "hello_bot" tutorial program in spyder . However, it throws this error on the first line itself

`from deeppavlov.skills.pattern_matching_skill import PatternMatchingSkill`

Please help

[2021-10-17 18:53] Hyperion101010 commented on #1446
I would like to give it a try

[2021-11-04 09:19] DLPerf commented on #1480
Hello, I'm looking forward to your reply~

[2021-11-04 11:04] vaskonov commented on #1480
Hey @DLPerf sorry for the late response.
Unfortunately, deprecated tf 1.x models have very limited support nowadays.
I suggest you to describe what are developing exactly, maybe we can find a modern replacement in our DeepPavlov.

[2021-11-22 13:10] danielkornev commented on #1392
closed by #1485

[2021-11-22 13:10] #1392 closed

[2021-11-26 14:46] imsiddhant07 commented on #1486
Hi @danielkornev @dimakarp1996 the issue seems quite interesting, was wondering if dimakarp is still working on this. If not would like to take it up :)

[2021-11-26 14:51] danielkornev commented on #1486
Hi Siddhant,

Thanks for reaching out!

@***@***.******@***.***> are you or @vasily (via Google ***@***.***> still on it?

Best,
Daniel

From: Siddhant Jain ***@***.***>
Sent: Friday, November 26, 2021 5:46 PM
To: deepmipt/DeepPavlov ***@***.***>
Cc: Daniel Kornev ***@***.***>; Mention ***@***.***>
Subject: Re: [deepmipt/DeepPavlov] Add support for Sequence Labeling & Q&A from original article for

[2021-11-26 15:06] dimakarp1996 commented on #1486
Sequence labeling for PAL-BERT is supported in the branch pal-bert+ner, there is a PR on this issue. Q&A is also implemented in pal-bert+ner+qa, but not tested yet.

[2021-11-30 10:07] #1373 closed

[2021-11-30 10:08] #1486 closed

[2021-11-30 10:08] #1368 closed

[2021-11-30 10:09] #1367 closed

[2021-11-30 10:09] #1380 closed

[2021-11-30 10:09] #1370 closed

[2021-11-30 10:10] #1411 closed

[2021-11-30 10:10] #1484 closed

[2021-11-30 10:12] #1386 closed

[2021-11-30 10:12] #1425 closed

[2021-11-30 10:13] #1412 closed

[2021-11-30 10:13] #1410 closed

[2021-11-30 10:13] #1387 closed

[2021-11-30 10:14] #1379 closed

[2021-11-30 10:14] #1375 closed

[2021-11-30 10:15] #1408 closed

[2021-11-30 10:15] #1409 closed

[2021-11-30 10:16] #1432 closed

[2021-11-30 10:16] #1376 closed

[2021-11-30 10:16] #1372 closed

[2021-11-30 10:17] #1395 closed

[2021-11-30 10:17] #1413 closed

[2021-11-30 10:18] #1394 closed

[2021-11-30 10:18] #701 closed

[2021-11-30 10:19] #1401 closed

[2021-11-30 10:19] #1400 closed

[2021-11-30 10:19] #1388 closed

[2021-11-30 10:20] danielkornev opened #1506 "test"

[2021-11-30 10:20] #1506 closed

[2021-12-02 17:41] ghost opened #1507 "flutter app for demostration of DeepPavlov features"
Hi @alexeyr ,

Hope you are all well !

I was wondering if you could consider to create a frontend to DeepPavlov based on flutter/dart. It would help to develop use cases.

Cheers,
Luc

[2021-12-14 05:45] Rushour0 commented on #1480
Hey, I think the tf.Session is not called every single time, the if condition ```if _gpu_available is None:``` helps in this.
```global _gpu_available``` is used to keep track of any previous results of existence of gpu.

Correct me if I am wrong.
Thank you

[2021-12-20 16:47] kuraga opened #1510 "Update Docker images, please"
Good day!

According to https://hub.docker.com/r/deeppavlov/base-gpu/tags, latest Docker image's version is 0.15.

Update Docker images, please?

Thanks!

[2021-12-27 16:56] lizush23 opened #1511 "Support Cuda 11"
Hi,
I am trying to Run NER model on A100.
I get CUBLAS_STATUS_ALLOC_FAILED error.
Is it something to do with CUDA ?
A100 supports CUDA 11 - do you have a docker image compatible with CUDA 11?
Thanks

[2022-01-04 13:40] uk2804 opened #1512 "NER ModuleNotFoundError: No module named 'bert_dp'"
Hi, When trying to check the pre-trained NER I got the below error..!!

code:

Error:

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\UdhayaNavi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\UdhayaNavi\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

[2022-01-15 11:02] Tulpa00 opened #1514 "Проблема с анализом тональности текста"
Версия 0.17.2
Google Colab

Нашла на форуме код для анализа тональности текста
[code]
Пару месяцев назад всё работала исправно, сегодня пришлось вернуться к проекту, но он начал выдавать ошибку

`AttributeError: module 'tensorflow' has no attribute 'ConfigProto'`

Я не очень опытна в этом, не могли бы вы мне помочь?

[2022-01-19 02:26] 645187919 commented on #1512
I have the same problem...

[2022-01-21 14:52] dimakarp1996 commented on #1514
@Tulpa00 Баг не воспроизводится.
https://colab.research.google.com/drive/1GjUCmJNZkw6BsHOaR8TuyPUnFSiFhYCY?usp=sharing

[2022-01-22 14:39] #1494 closed

[2022-01-22 14:39] moryshka opened #1515 "👩‍💻📞 DeepPavlov Community Call #14"
Dear DeepPavlov community,

Happy Holidays and the start of a new year! A year of plans only, and we already have a couple of projects in stock that we want to tell you about. We are pleased to announce that this month, as tradition, our Community Calls will be held twice: on Wednesday and Thursday.

Just before the new year, [we released our DeepPavlov Dream](https://bit.ly/MakingDreamHappen). DR

[2022-01-22 18:09] ayushvrma commented on #1507
I would like to work on this. Can you assign me on this issue?

[2022-01-24 06:37] dimakarp1996 commented on #1512
You should have done python -m deeppavlov install ner_ontonotes_bert.json first. Then bert_dp will be in place.

[2022-01-24 06:37] #1512 closed

[2022-01-25 09:55] sumit-158 commented on #1510
can I work on this?

[2022-01-25 18:52] jashwanthsoamsila commented on #1460
well I too have same error
i unistall numpy and again installed it.
after that i faced the same error so, i checked whether  my numpy folder is in packages or not
since latest version is installed in site-packages i pasted the same in packages folder too
this time it didn't raise attribute error

[2022-01-27 06:56] 645187919 opened #1518 "deeppavlov.core.common.errors.ConfigError: 'Model torch_transformers_ner_preprocessor is not registered.'"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):
Name: deeppavlov
Version: 0.14.0
**Python version**:
3.6
**Operating syst

[2022-01-27 11:16] dimakarp1996 commented on #1518
The bug was fixed in 0.15.0.

[2022-01-27 11:16] #1518 closed

[2022-01-27 11:17] #1514 closed

[2022-01-28 09:16] 645187919 opened #1519 "Could not find a version that satisfies the requirement uvloop==0.14.0 (from deeppavlov)"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):

**Python version**:
python==3.6
**Operating system** (ubuntu linux, wind

[2022-01-31 09:54] Sachit71 commented on #1496
try doing this
`pip install deeppavlov==0.4.0`
the tutorial has become obsolete after the newer versions

[2022-02-01 08:36] yurakuratov opened #1522 "Can't get metrics/components registered names from deeppavlov doc pages"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

**Are there other issues that block this solution?**:
[code]

[2022-02-07 10:02] yurakuratov commented on #1275
@mirabu2801 it is fixed by https://github.com/deepmipt/DeepPavlov/pull/1502
All models are updated in HuggingFace, updated links from DeepPavlov library are currently in dev only (as on 07.02.2022).

[2022-02-16 15:41] putassu opened #1527 "Добавление кастомного словаря/добавление слов в словарь по умолчанию"
Из-за специфики предметных областей и обилия терминов spelling correction работает некорректно. Например на медицинских электронных документах. В словаре по умолчанию нет терминов и/или слэнговых выражений, тривиальных сокращений.
Эту проблему довольно легко решить, если позволить юзеру добавлять отсутствующие в словаре по умолчанию слова. Или добавить возможность указать ссылку на кастомный слова

[2022-02-17 13:58] max1mka1 commented on #1511
The same question. I tried to build Dockerfile using "nvcr.io/nvidia/tensorflow:20.06-tf1-py3" image, which is pre-compiled for CUDA 11 version tensorflow 1.15.2
(https://developer.nvidia.com/blog/accelerating-tensorflow-on-a100-gpus/)

I also installed deeppavlov with --no-deps argument because the library install tensorflow1.15 for CUDA 10 version.

But it does not worked.

Can DeepPavlov Librar

[2022-03-05 00:01] Twenkid commented on #1467
I faced that uvloop error too, Windows 10, a fresh Python 3.7.8, current DeepPavlov 0.17.2

![image](https://user-images.githubusercontent.com/23367640/156857555-0b19b29f-db15-4d09-a41a-0c1f800b59ab.png)

Collecting uvloop==0.14.0
  Using cached uvloop-0.14.0.tar.gz (2.0 MB)
    ERROR: Command errored out with exit status 1:
     command: 'c:\py37\python.exe' -c 'import sys, setuptools, tokenize;

[2022-03-05 02:09] Twenkid commented on #1519
Also with Python 3.7.8, deeppavlov 0.17.2
[code]

[2022-03-05 02:42] Twenkid opened #1528 "[Documentation] Outdated URLs for the tutorials of NeMo asr/intro.html and tts/intro.html"
**DeepPavlov version**

Documentation, as of 5.3.2022,  http://docs.deeppavlov.ai/en/master/features/models/nemo.html

*"Models training
To get your own pre-trained checkpoints for NeMo modules see Speech recognition and Speech Synthesis tutorials. Pre-trained models list could be found here."*

**Issue**:

The linked files are missing, the URLs have changed:

https://nvidia.github.io/NeMo/asr/int

[2022-03-23 23:35] raghavsuriya opened #1538 "Squad BERT model not handling multiple requests with gunicorn"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`):
0.14.0

**Python version**:
3.7.7

**Operating system** (ubuntu linux, wi

[2022-03-24 11:29] vaskonov commented on #1538
@raghavsuriya Thank you very much for your issue, currently `riseapi` process requests in a single thread mode. Maybe we will support multi thread mode in future.

[2022-03-24 11:29] #1538 closed

[2022-03-29 11:34] SAIVENKATARAJU opened #1542 "Is there any way to achieve mult-lingual intent classification"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

**What problem are we trying to solve?**:
[code]

[2022-03-30 07:24] vaskonov commented on #1542
Hey @SAIVENKATARAJU ,

Could you describe your task in more details? Do you have specific intent dataset in mind?
We have a bunch of configs for text classification, for example, you can use `insults_kaggle_bert_torch`.
Define `TRANSFORMER` variable as `bert-base-multilingual-cased` and train the model with your intent dataset.

[2022-04-01 09:42] vaskonov commented on #1542
@SAIVENKATARAJU I see, do you use some specific intent dataset, what set of intents you are interested in?

[2022-04-01 10:34] #1374 closed

[2022-04-01 11:04] IgnatovFedor commented on #1528
Yes, docs.nvidia.com links are correct, but NeMo components will be [removed](https://github.com/deepmipt/DeepPavlov/releases/tag/1.0.0rc0) in the 1.0.0.

[2022-04-01 11:04] #1528 closed

[2022-04-01 11:13] IgnatovFedor commented on #1511
Hi.

To work with newer CUDA versions please use our pytorch-based models. In the future release 1.0.0 all TF-based models will be removed/replaced with python-based ones. 1.0.0rc0 pre-release is already [available](https://github.com/deepmipt/DeepPavlov/releases/tag/1.0.0rc0).

[2022-04-01 11:13] #1511 closed

[2022-04-01 11:16] IgnatovFedor commented on #1457
Hi, @novotnej
[1.0.0rc0](https://github.com/deepmipt/DeepPavlov/releases/tag/1.0.0rc0) pre-release with more free requirements is already available.

[2022-04-01 11:16] #1457 closed

[2022-04-01 11:18] IgnatovFedor commented on #1454
Newer transformers are available in the latest release 0.17.2 and in the pre-release 1.0.0rc0.

[2022-04-01 11:18] #1454 closed

[2022-04-01 11:20] vaskonov commented on #1295
@jinfagang DeepPavlov supports multilingual transformers that you can use to train Chinese models. What kind of models you are interested in?

[2022-04-01 11:22] vaskonov commented on #1426
@shamil-kadavan you can always get the specific location type by using vocabularies of cities and states.

[2022-04-01 11:22] #1426 closed

[2022-04-01 11:25] #1344 closed

[2022-04-01 11:29] IgnatovFedor commented on #1143
Tensorflow will be removed from the library in the 1.0.0. Reducing the number of the warning is in progress.

[2022-04-01 11:29] #1143 closed

[2022-04-01 11:29] vaskonov commented on #1446
Hey @Hyperion101010 let me know if you are still interested in contribution to DeepPavlov.

[2022-04-01 11:35] #1338 closed

[2022-04-01 11:44] #1271 closed

[2022-04-01 11:46] IgnatovFedor commented on #1519
Unfortunately we have problems with Windows support. In the pre-release 1.0.0rc0 we removed Windows from the list of supported platforms. We hope to return to this problem after the release 1.0.0.

[2022-04-01 11:46] #1519 closed

[2022-04-01 11:50] #1441 closed

[2022-04-01 11:50] #1343 closed

[2022-04-01 11:51] IgnatovFedor commented on #1428
Tensorflow components will be removed from the library in the 1.0.0.

[2022-04-01 11:51] #1428 closed

[2022-04-01 11:55] IgnatovFedor commented on #1479
FastAPI version was updated in the 1.0.0rc0.

[2022-04-01 11:55] #1479 closed

[2022-04-01 12:07] IgnatovFedor commented on #732
Tensorflow components will be removed in 1.0.0. In [1.0.0rc0](https://github.com/deepmipt/DeepPavlov/releases/tag/1.0.0rc0) all pytorch-based models support python 3.6-3.9.

[2022-04-01 12:07] #732 closed

[2022-04-01 12:09] IgnatovFedor commented on #1359
All tensorflow-based models will be removed/replaces with pytorch-based ones in 1.0.0. [1.0.0rc0](https://github.com/deepmipt/DeepPavlov/releases/tag/1.0.0rc0) is already available.

[2022-04-01 12:09] #1359 closed

[2022-04-01 13:02] IgnatovFedor commented on #1329
Requirement is replaced with pymorphy2<=0.9.1 in 1.0.0rc1

[2022-04-01 13:02] #1329 closed

[2022-04-01 13:04] IgnatovFedor commented on #1467
We have issues with the Windows support. In 1.0.0rc0 Windows is removed from the list of supported platforms. We hope to return Windows support after 1.0.0 release.

[2022-04-01 13:04] #1467 closed

[2022-04-01 13:08] #1482 closed

[2022-04-04 13:44] #1390 closed

[2022-04-05 07:44] IgnatovFedor commented on #887
Turned out to be relevant because of the python pipelines

[2022-04-05 18:15] #1244 closed

[2022-04-05 18:16] #1150 closed

[2022-04-05 18:18] vaskonov commented on #1305
Nowadays, DeepPavlov does support multi GPU training with PyTorch.

[2022-04-05 18:18] #1305 closed

[2022-04-06 10:14] #1378 closed

[2022-04-06 10:14] #1363 closed

[2022-04-06 10:15] #1322 closed

[2022-04-06 10:17] #1240 closed

[2022-04-06 10:17] #1239 closed

[2022-04-06 10:18] #1238 closed

[2022-04-06 10:18] #1423 closed

[2022-04-06 10:18] #1422 closed

[2022-04-06 10:18] #1241 closed

[2022-04-06 10:30] #1272 closed

[2022-04-06 16:45] nastyachizhikova commented on #1334
Hi @polodealvarado!
Pease check the following page in DeepPavlov's documentation: https://docs.deeppavlov.ai/en/master/intro/configuration.html

[2022-04-06 16:45] #1334 closed

[2022-04-06 20:41] Ihab-Asaad commented on #1468
Hi, use clip_norm = None instead of clip_norm = 'NULL'
Also you have to add "fit_on": ["y"], and provide save_path in config.

[2022-04-06 20:41] #1468 closed

[2022-04-07 07:48] Ihab-Asaad commented on #1470
I ran the following in colab:
!pip install DeepPavlov==0.15.0
!python -m deeppavlov install ner_ontonotes_bert_mult

from deeppavlov import configs, build_model
data = ['Привет','Добро пожаловать в Россию','МФТИ']
ner_model = build_model(configs.ner.ner_ontonotes_bert_mult, download=True)
for d in data:
  print(ner_model([d]))
print(ner_model(data))

output:
[[['Привет']], [['O']]]
[[['Добро', 'по

[2022-04-07 07:49] #1470 closed

[2022-04-07 12:43] #1542 closed

[2022-04-10 06:07] Hamed-Aghapanah commented on #1460
problem solved with :

1 - pip uninstall -y numpy
2 - pip uninstall -y setuptools
3 - pip install setuptools or conda install setuptools
4 - pip install bumpy or conda install numpy
Any one will work. Conda/pip

[2022-04-12 07:06] IgnatovFedor opened #1550 "refactor: tensorboard on pytorch"
**What problem are we trying to solve?**:
[code]

**How can we solve it?**:
[code]

[2022-04-14 08:23] HeavyPunk opened #1551 "Ошибка обучения модели в навыке Frequently Asked Questions (FAQ)"
**DeepPavlov version** : deeppavlov 0.17.2

**Python version**: Python 3.7.4

**Operating system** Ubuntu linux

**Issue**:
Привет! Воспользовался инструкцией по быстрому старту в навыке [вот](http://docs.deeppavlov.ai/en/master/features/skills/faq.html).
Установил python 3.7.4 в виртуальное окружение, установил в нём deeppavlov версии 0.17.2 и запустил следующий код:
[code]
Получаю следующий выво

[2022-04-15 07:09] IgnatovFedor commented on #426
[Телеграм убран из библиотеки](https://github.com/deepmipt/DeepPavlov/pull/1548)

[2022-04-15 07:09] #426 closed

[2022-04-15 19:33] hadrizi opened #1553 "Проблемы с зависимостями"
**DeepPavlov version**: 0.17.2

**Python version**: 3.10.17

**Operating system**: несущественно для проблемы

**Issue**:
DeepPavlov использует довольно устаревшую форму контроля зависимостей(обычный [requirements.txt](https://github.com/deepmipt/DeepPavlov/blob/master/requirements.txt)), что создает ряд проблем при использовании модуля в проектах с большим количеством зависимостей, так как зависи

[2022-04-16 05:35] IgnatovFedor commented on #1553
Добрый день.

@hadrizi, спасибо за issue, мы знаем об этой проблеме и решаем её.
В пре-релизе `1.0.0rc0` мы перешли на range versioning для основных зависимостей. Кроме того, библиотека и модели, не использующие tensorflow, стали поддерживать python3.8/3.9.
Установить пре-релиз можно через pip, явно указав `==1.0.0rc0`, или из иcходников, переключившись на соответствующий тэг. Будем рады вашему от

[2022-04-16 08:22] hadrizi commented on #1553
Это решает проблему _в целом_, однако некоторые зависимости выглядят немного странно. Например [`uvicorn<=0.17.4`](https://github.com/deepmipt/DeepPavlov/blob/1.0.0rc0/requirements.txt#L24) позволяет поставить вресию **меньше или равную** `0.17.4`, таким образом можно поставить версию `0.0.1`, которая явно сломает модуль DeepPavlov, но нельзя поставить patch'и в рамках `0.17`, возможно:
- стоит ог

[2022-04-18 07:22] alexunderch commented on #1551
Здравствуйте!

Тот код, который Вы пытаетесь запустить, немного устарел в связи с усовершенствованием библиотеки, а именно не поддерживается продолжение обучения уже `pretrained`-модели.

У данной проблемы существует следующее решение: Вы можете удалить `pretrained`-модели и запустить обучение заново (см. подробнее [community forum](https://forum.deeppavlov.ai/t/fitting-of-loaded-faq-model-can-not

[2022-04-18 12:32] HeavyPunk commented on #1551
Спасибо!)
Моя задача такова:
Есть у меня csv-файл с таблицей из столбцов Question Answer, хочу натренировать модель на этом файле (в файле есть вопросы как на русском, так и на английском языках)
При этом, файл будет периодически меняться и хочется перетеренировывать модель на новых данных
Как сейчас deeppavlov решает такой кейс?

[2022-04-18 12:55] alexunderch commented on #1551
Здравствуйте!

Спасибо за подробную постановку вопроса. `DeepPavlov` хорошо подходит для решение Вашей задачи, попробуйте воспользоваться данными ресурсами:
1. [intent recognition and question answering with DeepPavlov](https://medium.com/deeppavlov/simple-intent-recognition-and-question-answering-with-deeppavlov-c54ccf5339a9)
2. [text classification using DeepPavlov](https://medium.com/deeppavlov

[2022-04-18 12:55] #1551 closed

[2022-04-21 12:29] PolinaMrdv opened #1557 "👩‍💻📞 DeepPavlov Community Call #15"
Всем привет,

Мы решили не нарушать наших традиций и спустя небольшой перерыв вновь собираемся встретиться с вами на Community Call, ведь нам есть что рассказать! В этом месяце Community Call пройдет только на **русском языке.**

Предстоящий звонок мы посвятим [Dialog Flow Framework](https://github.com/deepmipt/dialog_flow_framework#-dialog-flow-engine-stable),  фреймворку для создания диалоговых

[2022-04-21 12:35] #1515 closed

[2022-04-30 08:04] oserikov opened #1559 "Cant control the number of val and log epochs"
I'm using the pypi version of deeppavlov in google colab without GPU.

When trying to run the `ner_few_shot_ru_simulate` experiment, scary message appears in logs. Am I unable to set the number of val and log epochs indeed?

[code]

`2022-04-30 07:59:50.502 INFO in 'deeppavlov.core.trainers.fit_trainer'['fit_trainer'] at line 68: FitTrainer got additional init parameters ['epochs', 'validation_pat

[2022-05-09 10:01] Balu2311 opened #1562 "how to solve this error RuntimeError: CUDA out of memory. Tried to allocate 352.00 MiB (GPU 0; 3.94 GiB total capacity; 2.64 GiB already allocated; 229.25 MiB free; 2.79 GiB reserved in total by PyTorch)"
from deeppavlov import build_model, configs
ner_model = build_model(configs.ner.ner_ontonotes_bert_mult_torch, download=True) # this line error getting

RuntimeError: CUDA out of memory. Tried to allocate 352.00 MiB (GPU 0; 3.94 GiB total capacity; 2.64 GiB already allocated; 229.25 MiB free; 2.79 GiB reserved in total by PyTorch)

ner_model1 = build_model(configs.ner.ner_few_shot_ru_simulate, dow

[2022-05-22 07:59] anisamirouche opened #1566 "swig failed with exit status 1 with kbqa_cq_ru"
i'm having this error when trying to install Kbqa_cq_ru
Python : 3.6.15
mac os monterrey and i have swig installed
'''

ERROR: Command errored out with exit status 1:
   command: /Users/anis/.pyenv/versions/3.6.15/bin/python -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/bl/2rdl6yrd56j209hv1hzfcllr0000gn/T/pip-install-ieyiughp/faiss-gpu_787dd7c5c013438ea81

[2022-05-23 10:16] #1562 closed

[2022-05-23 13:16] danielkornev commented on #1507
sure thing, assigned )

[2022-05-26 12:43] PolinaMrdv opened #1567 "👩‍💻📞 DeepPavlov Community Call #16"
Dear DeepPavlov community,

We are excited to announce that we are back with our Community Calls in English. The next one will be on May 26! Don’t miss the chance to meet with our team and learn more about building Knowledge Graph-infused AI assistants with DeepPavlov Dream.

Daniel Kornev, CPO of DeepPavlov, will talk about DeepPavlov Dream, the first open-source academia-built multiskill AI assi

[2022-05-26 12:44] #1557 closed

[2022-06-16 11:38] PolinaMrdv opened #1571 "👩‍💻📞DeepPavlov Community Call #17"
Dear DeepPavlov community,

 On June 30, a special guest Artem Rodichev, founder and CEO of Ex-human & ex-head of the AI at Replika, and Daniel Kornev, CPO at DeepPavlov, will hold a discussion about The Past, Present, and Future of Conversational AI.
Socialbots are getting into our lives more and more: they are not only assistants who fulfill our requests, but also a means to communicate. So, Art

[2022-06-16 11:41] #1567 closed

[2022-06-22 06:12] IgnatovFedor commented on #1550
done in #1572

[2022-06-22 06:12] #1550 closed

[2022-06-24 10:18] IgnatovFedor commented on #1559
`fit_trainer` doesn't support val and log epoch indeed. These parameters are supported by `nn_trainer` and `torch_trainer`.

[2022-06-24 10:18] #1559 closed

[2022-06-24 10:24] IgnatovFedor commented on #1383
Replaced with `torch.utils.tensorboard.SummaryWriter` in #1572

[2022-06-24 10:24] #1383 closed

[2022-06-24 11:04] dmitrijeuseew commented on #1477
The issue is fixed in https://github.com/deepmipt/DeepPavlov/pull/1516

[2022-06-24 11:05] #1477 closed

[2022-06-24 11:09] #1566 closed

[2022-06-24 11:11] IgnatovFedor commented on #1476
Last TF components were removed in #1574. After 1.0.0 release only pytorch-based NN models will remain in the library.

[2022-06-24 11:11] #1476 closed

[2022-06-24 11:45] IgnatovFedor commented on #1496
`pattern_matching_skill` was removed in 0.7.0.

[2022-06-24 11:45] #1496 closed

[2022-06-24 11:55] IgnatovFedor commented on #1446
Closed due to #1546

[2022-06-24 11:55] #1446 closed

[2022-06-24 12:00] IgnatovFedor commented on #442
TF removed from the library. TorchModels allows to set any optimizer parameters.

[2022-06-24 12:00] #442 closed

[2022-06-24 12:09] dmitrijeuseew commented on #1320
The example of the dataset can be downloaded from https://github.com/deepmipt/DeepPavlov/blob/eddb44542b43eb0aeacf954a0d98710a3ef3b0ed/deeppavlov/configs/classifiers/query_pr.json#L104
The file with SPARQL templates is https://github.com/deepmipt/DeepPavlov/blob/eddb44542b43eb0aeacf954a0d98710a3ef3b0ed/deeppavlov/configs/kbqa/kbqa_cq.json#L171

[2022-06-24 12:31] #1320 closed

[2022-06-24 12:39] IgnatovFedor commented on #854
It's better to raise error when files can't be downloaded than launch model with some local files that could differ from the ones user want to download. User should set `download=False` while building model or remove `-d` flag, if model is used from CLI.

[2022-06-24 12:39] #854 closed

[2022-07-22 16:29] PolinaMrdv opened #1582 "👩‍💻📞DeepPavlov Community Call #18"
Привет, друзья!

Мы рады вернуться в этом месяце с DeepPavlov Community Call на **русском языке.**
На предстоящем вебинаре к нам придет приглашенный гость **Борис Галицкий**,  ассоциированный сотрудник лаборатории Интеллектуальных систем и структурного анализа НИУ ВШЭ, основатель нескольких стартапов в области ИИ, профессор ANECA, а также бывший сотрудник Oracle, представит доклад на тему **“Диску

[2022-07-22 16:30] #1571 closed

[2022-07-25 14:26] Kefan-pauline opened #1583 "ERROR while training rel_ranking model of KBQA pipeline"
**DeepPavlov version**: 0.14.0 and 0.17.4

**Python version**: 3.7.9 and 3.7.12

**Operating system** (ubuntu linux, windows, ...): Windows and Linux

**Issue**:

*ValueError: Classification metrics can't handle a mix of binary and multiclass-multioutput targets* occurs while training **rel_ranking** model of **KBQA** pipeline with Python 3.7, both with DeepPavlov 0.17.4 on Linux and DeepPavlov 0.

[2022-07-26 09:23] dmitrijeuseew commented on #1583
@Kefan-pauline I suggest trying to set "return_probas": false
https://github.com/deepmipt/DeepPavlov/blob/eddb44542b43eb0aeacf954a0d98710a3ef3b0ed/deeppavlov/configs/ranking/rel_ranking.json#L44
because "return_probas": true is in inference mode and in training mode the model should output labels.

[2022-07-26 11:22] #1583 closed

[2022-11-02 16:00] blinov-89 commented on #1467
Same problem here when installing latest (to the date of this comment) version of DeepPavlov in pycharm.

[2022-11-04 17:14] blinov-89 commented on #1467
I installed the version 1.0.0rc0 and it was installed successfully

[2022-11-09 00:14] Twenkid commented on #1467
@blinov-89 Thanks for reporting! Now I also managed to install it successfully on Python 3.9.7, Win 10, pip. It worked without conda. For now I just installed, imported etc.; I'll test it in action later.

[code]

[2022-11-10 18:07] claell opened #1599 "Doesn't work with recent version of pytorch-crf"
Want to contribute to DeepPavlov? Please read the [contributing guideline](http://docs.deeppavlov.ai/en/master/devguides/contribution_guide.html) first.

Please enter all the information below, otherwise your issue may be closed without a warning.

**DeepPavlov version** (you can look it up by running `pip show deeppavlov`): 1.0.0

**Python version**: 3.9.5

**Operating system** (ubuntu linux, win

[2022-11-10 18:52] IgnatovFedor commented on #1599
Hi, @claell

Before using the model from python, you still need to install all dependencies first, as described in the **Command line interface (CLI)** section in the readme. We will try to correct the readme to make this point more explicit.
To fix error, run
[code]
from CLI before running your python code.

[2022-11-11 12:15] claell commented on #1599
Ah, alright. Thanks for letting me know.

When I go to the section of the README, it doesn't really state this, either, though: https://github.com/deeppavlov/DeepPavlov#command-line-interface-cli

[2022-11-11 12:47] #1599 closed

[2022-11-11 14:49] claell commented on #1599
Sorry @IgnatovFedor, maybe I overlooked it. But where has this been fixed? The README wasn't updated, at least.

[2022-11-17 06:05] IgnatovFedor commented on #1510
Containers have updated. New [repository](https://hub.docker.com/r/deeppavlov/deeppavlov) created for images with DeepPavlov 1.0.0 and newer.

[2022-11-17 06:05] #1510 closed